.commisionWrap{margin-bottom: 45px;}
.commisionWrap .commMenu{ padding-bottom: 10px;border-bottom: 1px solid #e4e7ec;}
.commisionWrap .commMenu a{ display: inline-block; margin: 0 45px 0 0; font-size: 24px; color: #9eb0c2; font-family: "Graphik-Medium";position: relative; ;}
.commisionWrap .commMenu a:hover, .commisionWrap .commMenu a.active{color: #2d75ff;}
.commisionWrap .commMenu a.active:after{content: "";position: absolute;bottom: -10px;left: 50%;width: 100%; height: 4px;transform: translateX(-50%);
    background:  #2d75ff;}
/* .commisionWrap .commMenu a:hover:after {content: "";position: absolute;bottom: -10px;left: 50%;width: 100%; height: 4px;transform: translateX(-50%); background:  #2d75ff;} */

.commisionWrap .commMenu2{ padding-bottom: 10px;border-bottom: 1px solid #e4e7ec; margin-top: 20px;}
.commisionWrap .commMenu2 a{ display: inline-block; margin: 0 15px 0 0; font-size: 18px; color: #9eb0c2; font-family: "Graphik-Medium";position: relative; padding: 0 20px 0 0;}
.commisionWrap .commMenu2 a:hover, .commisionWrap .commMenu2 a.active{color: #2956f6;}
.commisionWrap .commMenu2 a.active:after{content: "";position: absolute;bottom: -10px;left: 50%;width: 100%; height: 4px;transform: translateX(-50%);
    background:  #2d75ff;}
/* .commisionWrap .commMenu2 a:hover:after {content: "";position: absolute;bottom: -10px;left: 50%;width: 100%; height: 4px;transform: translateX(-50%); background:  #2d75ff;} */

.commissionInfo{margin-top: 50px; display: flex;justify-content: space-between;align-items: center;}
.commissionInfo .overallDiv{width: calc(50% - 10px);display: inline-block;text-align: left; }
.commissionInfo .overallDiv h2{font-family: "Graphik-Medium";font-size: 16px;color: #9eb0c2;font-weight: 500;padding-bottom: 15px;}

.commissionInfo .childOverall{width: 100%;display: inline-block;}

.commissionInfo .overallDiv .revenueDiv{width: 100%;float: left;padding: 22px 30px;border-radius: 3px;box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1); border: solid 1px #e4e7ec;background-color: #ffffff; display: flex;justify-content: space-between;align-items: flex-start;flex-flow: row wrap; border-left: 3px solid #2d75ff; transition: all .35s ease 0s;}
.commissionInfo .overallDiv .revenueDiv:hover{ border-color: #2d75ff;}

.commissionInfo .overallDiv .revenueDiv .totalDiv{width: 48%;display: inline-block;text-align: left;border-right: 1px solid #e4e7ec;padding: 40px 0;}
.commissionInfo .overallDiv .revenueDiv .totalDiv h3 { font-size: 20px;color: #9eb0c2; font-family: "Graphik-Medium"; width: 100%; float: left; margin-bottom: 5px;}
.commissionInfo .overallDiv .revenueDiv .totalDiv h1 {font-size: 36px;color: #2d75ff;font-family: "Graphik-Light"; width: 100%; float: left; margin-bottom: 5px;}
.commissionInfo .overallDiv .revenueDiv .totalDiv .iconDiv{width:100%;display: inline-block;margin-bottom: 20px;}
.commissionInfo .overallDiv .revenueDiv .totalDiv .iconDiv img{max-width: 100%;}

.commissionInfo .overallDiv .revenueDiv .businessDiv{width: 48%; display: inline-block; text-align: left;padding: 40px 0 40px 20px;}
.commissionInfo .overallDiv .revenueDiv .businessDiv .newbusiDiv{display: flex;justify-content: space-between;align-items: flex-start;width: 100%;float: left;margin-bottom: 50px;}
.commissionInfo .overallDiv .revenueDiv .businessDiv .iconDiv{width:calc(20% - 10px);display: inline-block;}
.commissionInfo .overallDiv .revenueDiv .businessDiv .iconDiv img{max-width: 100%;}
.commissionInfo .overallDiv .revenueDiv .businessDiv .textDiv{width:calc(78% - 10px);display: inline-block;}
.commissionInfo .overallDiv .revenueDiv .businessDiv .textDiv h3 { font-size: 16px;color: #9eb0c2; font-family: "Graphik-Medium"; width: 100%; float: left; padding-bottom: 8px;}
.commissionInfo .overallDiv .revenueDiv .businessDiv .textDiv h1 {font-size: 28px;color: #37435a;font-family: "Graphik-Light"; width: 100%; float: left; }
.commissionInfo .overallDiv .revenueDiv .businessDiv .renewbusiDiv{display: flex;justify-content: space-between;align-items: flex-start;width: 100%;float: left;}
.commissionInfo .payDiv{width: calc(50% - 10px);display: inline-block;text-align: left; }
.commissionInfo .payDiv .titleDiv{display: flex;justify-content: space-between;align-items: center;width: 100%;float: left;padding-bottom: 15px;}
.commissionInfo .payDiv .titleDiv .currentPay{display: inline-block;text-align: left;}
.commissionInfo .payDiv .titleDiv .currentPay h2{font-size: 16px;color: #9eb0c2; font-family: "Graphik-Medium";}
.commissionInfo .payDiv .titleDiv .dateDiv h3{font-size: 11px;color: #7f8899; font-family: "Graphik-Medium"; opacity: 0.68;}
.commissionInfo .payDiv .titleDiv .dateDiv{display: inline-block;text-align: right;}

/* .commissionInfo .payDiv .payoutDiv{width: 100%;float: left;padding: 20px 30px;border-radius: 3px;box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1); border: solid 1px #e4e7ec;background-color: #ffffff;  display: flex;justify-content: space-between;align-items: center;flex-flow: row wrap;} */
.commissionInfo .payDiv .payoutDiv .contentDiv {width: 100%;float: left;padding: 0px 0 0 30px;border-radius: 3px;box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1); border: solid 1px #e4e7ec;background-color: #ffffff;  display: flex;justify-content: space-between;align-items: center;flex-flow: row wrap; border-left: 3px solid #64c879; transition: all .35s ease 0s;}
.commissionInfo .payDiv .payoutDiv .contentDiv:hover{ border-color: #64c879;}

.commissionInfo .payDiv .payoutDiv .contentDiv .paymoneyDiv{width: calc(40% - 4px);display: inline-block;padding: 30px 0;}
.commissionInfo .payDiv .payoutDiv .contentDiv .paymoneyDiv .textDiv{width: 100%;float: left;padding-bottom: 20px;}
.commissionInfo .payDiv .payoutDiv .contentDiv .paymoneyDiv .textDiv h3 { font-size: 16px;color: #9eb0c2; font-family: "Graphik-Medium"; width: 100%; float: left; padding-bottom: 8px;}
.commissionInfo .payDiv .payoutDiv .contentDiv .paymoneyDiv .textDiv h1 {font-size: 36px;color: #64c879;;font-family: "Graphik-Light"; width: 100%; float: left; }
.commissionInfo .payDiv .payoutDiv .contentDiv .paymoneyDiv .soldDiv{width: 100%;float: left; position: relative; background-color: rgba(100, 200, 121, 0.15);border-radius: 8px;margin-bottom: 5px; overflow: hidden;}
.commissionInfo .payDiv .payoutDiv .contentDiv .paymoneyDiv .soldDiv .textSold{height: 100%; float: left;background-image: linear-gradient(93deg, #abf2be 0%, #51df8f 99%);border-top-left-radius: 8px;border-bottom-left-radius: 8px; position: absolute; left: 0; top: 0;}
.commissionInfo .payDiv .payoutDiv .contentDiv .paymoneyDiv .soldDiv .text{padding: 5px 15px;font-size: 12px; color: #37435a; width: 100%; float: left; position: relative; z-index: 2;}
.commissionInfo .payDiv .payoutDiv .contentDiv .paymoneyDiv .soldDiv .text span{color: #37435a; font-size: 24px;font-family: "Graphik-Medium";margin-right: 6px; display: inline-block; vertical-align: sub;}
.commissionInfo .payDiv .payoutDiv .contentDiv .paymoneyDiv p{font-family: "Graphik-Light"; width: 100%; float: left; font-size: 11px; color: #7f8899; line-height: 1.27;}
.commissionInfo .payDiv .payoutDiv .contentDiv .payoutDetails{width: calc(58% - 4px);display: inline-block;}
.commissionInfo .payDiv .payoutDiv .contentDiv .payoutDetails ul{width: 100%;float:left}
.commissionInfo .payDiv .payoutDiv .contentDiv .payoutDetails ul li{width: 100%;display:flex;padding: 20px 20px 20px 20px;border-bottom: 1px solid #e4e7ec;justify-content: space-between;align-items: center;border-left:1px solid  #e4e7ec;}
.commissionInfo .payDiv .payoutDiv .contentDiv .payoutDetails ul li:last-child{ border-bottom: none;}
.commissionInfo .payDiv .payoutDiv .contentDiv .payoutDetails ul li .title{display: inline-block;vertical-align: middle;font-size: 13px;color: #37435a;}
.commissionInfo .payDiv .payoutDiv .contentDiv .payoutDetails ul li .value{display: inline-block;vertical-align: middle;font-size: 14px;text-align: left; width: 25%;}
.commissionInfo .payDiv .payoutDiv .contentDiv .payoutDetails ul li .value.green{color:#64c879}
.commissionInfo .payDiv .payoutDiv .contentDiv .payoutDetails ul li .value.red{color: #ee716c;}


.commissionOverDiv{display: flex;justify-content: space-between;align-items: flex-start;padding: 20px; border-radius: 3px;box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);border: solid 1px #e4e7ec;background-color: #ffffff;margin-top: 25px;}
.commissionOverDiv .revenueGraph{width: calc(75% - 20px); margin: 0 20px 0 0; display: inline-block;text-align: left; position: relative;}
.commissionOverDiv .revenueGraph .titleDiv{width: 100%;float: left;margin-bottom: 30px; display: flex; align-items: center; justify-content: space-between;}
.commissionOverDiv .revenueGraph .titleDiv h2{  font-size: 18px;color: #37435a;font-family: 'Graphik-Regular'; display: inline-block; vertical-align: middle; margin: 0 10px 0 0; padding-bottom: 0;}
.commissionOverDiv .revenueGraph .titleDiv a{color: #2d75ff;font-size: 12px;font-family: 'Graphik-Regular'; display: inline-block; vertical-align: middle; text-decoration: underline;}
.commissionOverDiv .revenueGraph .titleDiv a:hover{ opacity: 0.8;}

.commissionOverDiv .graphDiv{ position: relative; width: 100%; height: 320px; float: left;}
.commissionOverDiv .graphDiv .legends{ position: absolute; left: 0; top: -20px; text-align: right; padding: 0 20px 0 0;}
.commissionOverDiv .graphDiv .legends span{ position: relative; display: inline-block; vertical-align: middle; margin: 0 0 0 15px; padding: 0 0 0 15px; color: #67758d; font-size: 14px; letter-spacing: normal; line-height: 1.1;}
.commissionOverDiv .graphDiv .legends span:before{ content: ""; width: 10px; height: 10px; position: absolute; left: 0; top: 0; border-radius: 50%; background-color: transparent; border: 1px solid #3794fc;}
.commissionOverDiv .graphDiv .legends span:last-child:before{ border-color: #9d60fb;}

.commissionOverDiv .reportDiv{width: calc(35% - 10px);display: inline-block;text-align: left;}

.commissionOverDiv .reportDiv .titleFilter{ width: 100%; padding: 0 0 0 0; display: flex; align-items: center; justify-content: space-between; margin-bottom: 25px;}
.commissionOverDiv .reportDiv .titleFilter .calenderDiv{ width: calc(65% - 10px);}

.commissionOverDiv .reportDiv .titleFilter .export{ width:35%;}
.commissionOverDiv .reportDiv .titleFilter .export a{ width: 100%; float: left; background-color: #2d75ff; padding: 7px 10px; border-radius: 3px; font-size: 10px; color: #eef1f4; letter-spacing: 0.5px; margin: 0 0 0 0; text-align: center; transition: all .35s ease 0s; display: flex; align-items: center; justify-content: space-between;}
.commissionOverDiv .reportDiv .titleFilter .export a svg{ width: 16px; height: 16px;}
.commissionOverDiv .reportDiv .titleFilter .export a svg path{ fill: #fff;}
.commissionOverDiv .reportDiv .titleFilter .export a img{ display: inline-block; vertical-align: middle; margin: 0 0 0 5px;}
.commissionOverDiv .reportDiv .titleFilter .export a:hover{ opacity: 0.8;}

.commissionOverDiv .reportDiv .payDetails{width: 100%;display: inline-block; border-radius: 4px;border: solid 1px #e4e7ec;display: flex;justify-content: space-between;align-items: center;padding: 15px;}
.commissionOverDiv .reportDiv .payDetails .leftDiv{display: inline-block;text-align: left;}
.commissionOverDiv .reportDiv .payDetails .leftDiv h1{font-family: "Graphik-Light"; width: 100%; float: left; font-size: 28px;color: #000; margin-bottom: 5px;}
.commissionOverDiv .reportDiv .payDetails .leftDiv h2{font-size: 16px;color: #9eb0c2;font-family: "Graphik-Medium"; width: 100%;float: left;}

.commissionOverDiv .reportDiv .payDetails .rightDiv{display: inline-block;text-align: left;}
.commissionOverDiv .reportDiv .payDetails .rightDiv h1{font-family: "Graphik-Light"; width: 100%; float: left; font-size: 28px;color: #000; margin-bottom: 5px;}
.commissionOverDiv .reportDiv .payDetails .rightDiv h2{font-size: 16px;color: #9eb0c2;font-family: "Graphik-Medium"; width: 100%;float: left;}

.commissionOverDiv .reportDiv .payoutDetails ul{width: 100%;float:left;border-radius: 4px;
    border: solid 1px #e4e7ec;margin-top: 20px;}
.commissionOverDiv .reportDiv .payoutDetails ul li{width: 100%;display:flex;padding: 15px 20px 15px 20px;border-bottom: 1px solid #e4e7ec;justify-content: space-between;align-items: center;}
.commissionOverDiv .reportDiv .payoutDetails ul li .title{display: inline-block;vertical-align: middle;font-size: 13px;color: #37435a;text-align: left;}
.commissionOverDiv .reportDiv .payoutDetails ul li .value{display: inline-block;vertical-align: middle;font-size: 14px;text-align: left; width: 25%;}
.commissionOverDiv .reportDiv .payoutDetails ul li .value.green{color:#64c879}
.commissionOverDiv .reportDiv .payoutDetails ul li .value.red{color: #ee716c;}


.productCommDiv{margin-top:30px}
.productCommDiv .tableTitle{display: flex;align-items: center; justify-content: space-between; margin-bottom: 10px;}
.productCommDiv .tableTitle h2 {color: #9eb0c2;font-size: 16px;display: inline-block;vertical-align: middle; width: 100%;margin-bottom: 0;}
.productCommDiv .tableTitle .graphFilter .filterDD {display: inline-block;vertical-align: middle; margin: 0 10px; position: relative; text-align: left;}
.productCommDiv .tableTitle .graphFilter .filterDD select {width: 150px;display: inline-block;}
.productCommDiv .tableTitle .graphFilter .filterDD:last-child {margin: 0 0 0 10px;}
.productCommDiv table td h2{color: #16253a;font-size: 18px;font-family: "Graphik-Medium";padding-bottom: 5px;}
.productCommDiv table td span{color: #16253a; font-size: 14px;}
.productCommDiv table td{font-size: 18px;color: #37435a;font-family: 'Graphik-Regular';}
.productCommDiv table thead tr{background-color: rgba(155, 184, 213, 0.15);}

.commissionLOB{margin-top: 40px;}
.commissionLOB .titleDiv h2 {color: #9eb0c2;font-size: 16px;display: inline-block;vertical-align: middle; width: 100%;margin-bottom: 0;font-family: "Graphik-Medium";}
.commissionLOB .innerLOB .item{transition: all .35s ease 0s; width: calc(33.3% - 33px); margin: 0; border-radius: 4px; box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.17); display: inline-block; padding: 20px;}
.commissionLOB .innerLOB .item:hover{ box-shadow: 0 5px 12px -2px rgba(0, 0, 0, 0.4); opacity: 0.8;}

.commissionLOB .innerLOB .item .iconDiv{width: calc(35% - 23px);display: inline-block;vertical-align: middle; margin: 0 20px 0 0;}
.commissionLOB .innerLOB .item .iconDiv img{max-width: 100%;}
.commissionLOB .innerLOB .item .textDiv{width: calc(65% - 3px); display: inline-block; vertical-align: middle;}
.commissionLOB .innerLOB .item .textDiv h2{ width: 100%; float: left; font-size: 18px; color: #5840aa; font-family: "Graphik-Medium"; line-height: 1.1; margin-bottom: 14px;}
.commissionLOB .innerLOB .item .textDiv h1{ width: 100%; float: left; font-size: 28px; color: #000000; font-family: "Graphik-Light"; line-height: 1.1;}
.commissionLOB .innerLOB .item .textDiv h3{ width: 100%; float: left; font-size: 14px; color: #37435a; font-family: "Graphik-Medium"; line-height: 1.1; opacity: 0.67; margin-bottom: 12px;}
.commissionLOB .innerLOB .item .textDiv span{ width: 100%; float: left; font-size: 12px; color: #37435a; font-family: "Graphik-Regular"; line-height: 1.1; margin-bottom: 3px;}


.commissionLOB .innerLOB .item.healthDiv{ background-image: linear-gradient(to left, #eeeef8, #eaf2ff);}
.commissionLOB .innerLOB .item.autoDiv{  background-image: linear-gradient(93deg, #fdf6ee 1%, #fff5e8 105%);}
.commissionLOB .innerLOB .item.autoDiv .textDiv h2{  color: #ff6222;}
.commissionLOB .innerLOB .item.marineDiv{ background-image: linear-gradient(92deg, #d5f0fb 1%, #eff9fd 99%);}
.commissionLOB .innerLOB .item.marineDiv .textDiv h2{ color: #1186a2;}

.commissionLOB .innerLOB .slick-slide{ padding: 15px;}
.commissionLOB .innerLOB .slick-arrow{position: absolute; width: 13px; height: 26px; background-size: cover; background-repeat: no-repeat; background-position: center center; border: none; font-size: 0; top: 50%; transform: translateY(-50%);}
.commissionLOB .innerLOB .slick-arrow.slick-prev{ background-image: url(../images/arrow-prev.png); left: -15px;}
.commissionLOB .innerLOB .slick-arrow.slick-next{ background-image: url(../images/arrow-next.png); right: -15px;}
.commissionLOB .innerLOB .slick-disabled{ opacity: 0;}

.commissionLOB .innerLOB .slick-arrow{transition: all .35s ease 0s; cursor: pointer; outline: none;}
.commissionLOB .innerLOB .slick-arrow:hover{ opacity: 0.6;}

.cmsnpTitle{ margin-top: 40px;}
.cmsnpTitle h1{ width: 100%; float: left; margin-bottom: 5px; line-height: 1.1; font-family: "Graphik-Light"; color: #37435a; font-size: 24px;}
.cmsnpTitle .totCount span{ display: inline-block; vertical-align: middle; color: #7f8899; font-size: 16px; margin:0; padding: 5px 10px 5px 0; border-right: 1px solid #9eb0c2;}
.cmsnpTitle .totCount span:last-child{ border-right: none; padding: 5px 0 5px 10px;}
.cmsnpTitle .export{ width: auto; display: inline-block; margin-top: 14px;} 
.cmsnpTitle .export a{transition: all .35s ease 0s; width: auto; float: left; background-color: #2d75ff; padding: 6px 10px; border-radius: 3px; font-size: 10px; color: #eef1f4; letter-spacing: 0.5px; margin: 0 0 0 0;}
.cmsnpTitle .export a svg{ width: 16px; height: 16px; display: inline-block;  vertical-align: middle; margin: 0 0 0 10px;}
.cmsnpTitle .export a svg path{ fill: #fff;}
.cmsnpTitle .export a img{ display: inline-block; vertical-align: middle; margin: 0 0 0 5px;}
.cmsnpTitle .export a:hover{ opacity: 0.8;}

.tableWrap .tableOptions{ margin: 20px 0 15px; display: flex; align-items: flex-end; justify-content: space-between;}
.tableWrap .tableOptions .dataSearch{ width: 50%; max-width: 350px; position: relative;}
.tableWrap .tableOptions .dataSearch .text{ width: 100%; border: solid 1px #37435a; background-color: rgba(255, 255, 255, 0.69); border-radius: 4px; padding: 6.5px 10px; color: #7f8899; font-size: 13px; font-family: "Graphik-Regular"; letter-spacing: 0.3px; transition: all .35s ease 0s;}
.tableWrap .tableOptions .dataSearch .text:hover, .tableWrap .tableOptions .dataSearch .text:focus{ border-color: #2d75ff;}
.tableWrap .tableOptions .dataSearch button.submit{ position: absolute; right: 10px; top: 50%; transform: translateY(-50%); width: 18px; border: none; background: none; cursor: pointer; padding: 0; margin: 0; outline: none;} 
.tableWrap .tableOptions .dataSearch button.submit img{ width: 100%;}
.tableWrap table tr td h2{ font-size: 14px; font-family: "Graphik-Medium"; margin-bottom: 5px;}

.tableWrap .tableOptions #reportrange{width: calc(100% - 140px); transition: all .35s ease 0s;}
.tableWrap .tableOptions #reportrange:hover{-webkit-box-shadow: 0px 0px 8px 0px rgba(191,191,191,0.6);-moz-box-shadow: 0px 0px 8px 0px rgba(191,191,191,0.6);    box-shadow: 0px 0px 8px 0px rgba(191,191,191,0.6);}

.tableWrap .tableOptions .filterDiv{ display: flex; align-items: flex-start; justify-content: space-between; width: 50%; max-width: 370px;}
.tableWrap .tableOptions .filterDiv .filterInner{ width: 130px; position: relative;}
.tableWrap .tableOptions .filterDiv .filterInner a{ width: 100%; float: left; display: flex; align-items: center; justify-content: space-between; padding: 7px; border-radius: 3px; border: solid 1px #9eb0c2; font-size: 12px; color: #37435a; transition: all .35s ease 0s;}
.tableWrap .tableOptions .filterDiv .filterInner a:hover{-webkit-box-shadow: 0px 0px 8px 0px rgba(191,191,191,0.6); -moz-box-shadow: 0px 0px 8px 0px rgba(191,191,191,0.6); box-shadow: 0px 0px 8px 0px rgba(191,191,191,0.6);}
.tableWrap .tableOptions .filterDiv .filterInner a b{border-color: #888 transparent transparent transparent;  border-style: solid;  border-width: 7px 6px 0 6px;  height: 0; width: 0; display: inline-block; vertical-align: middle;}
.tableWrap .tableOptions .filterDiv .filterInner.active a b{border-width: 0 6px 7px 6px; border-color: transparent transparent #888 transparent;}    

.tableWrap .tableOptions .filterDiv .filterInner ul{ background-color: #fff; border-radius: 0 0 5px 5px; padding: 0; position: absolute; left: 0; top: 100%; border: solid 1px #9eb0c2; border-bottom: none; border-top: none; overflow: hidden; display: none;}
.tableWrap .tableOptions .filterDiv .filterInner ul li{ width: 100%; float: left; padding: 10px; font-size: 13px; border-bottom: solid 1px #7f8899; color: #37435a;}
.tableWrap .tableOptions .filterDiv .filterInner ul li input{padding: 0; margin: 0 10px 0 0; display: inline-block; vertical-align: middle;}

.pagination{ margin: 25px 0 0;}
.pagination a.btn{ background-color: #7f8899; padding: 0; margin: 0 5px; width: 20px; height: 20px; display: flex; align-items: center; justify-content: center; float: left;  transition: all .35s ease 0s;-moz-transition: all .35s ease 0s;-webkit-transition: all .35s ease 0s;}
.pagination a.btn:hover{background-color: rgba(45, 117, 255,0.7); color: #fff;}
.pagination a.btn.active:hover, .pagination a.btn.active{background-color: #2d75ff; color: #fff;}
.pagination a.btn.disable{ opacity: 0.5;}
.pagination a.btn.disable:hover{background-color: #7f8899;}

.pagination .pageno{ float: left;}
.pagination .pageno ul{ width: 100%; float: left;}
.pagination .pageno ul li{ display: inline-block; vertical-align: middle; margin: 0 5px; }
.pagination .pageno ul li a{display: flex; align-items: center; justify-content: center; float: left; font-size: 12px; color: #37435a; width: 20px; height: 20px; transition: all .35s ease 0s;-moz-transition: all .35s ease 0s;-webkit-transition: all .35s ease 0s; border-radius: 50%;}
.pagination .pageno ul li a:hover{ background-color:rgba(45, 117, 255,0.7); color: #fff;}
.pagination .pageno ul li a.active, .pagination .pageno ul li a.active:hover{ background-color: #2d75ff; color: #fff;}

.pagination select{border-radius: 1px; border: solid 1px #7f8899; background: none; padding: 2px; font-family: "Graphik-Regular"; margin: 0 5px; outline: none; float: left;}
.pagination span{margin: 0 5px; float: left; display: flex; align-items: center; justify-content: center; height: 20px; color: #37435a;}

.reportrange, .reportrange2{background: none; cursor: pointer; padding: 7px 10px; border-radius: 3px; border: solid 1px #9eb0c2; width: 100%; transition: all .35s ease 0s; display: flex; align-items: center; justify-content: space-between;}
.reportrange img, .reportrange2 img { width: 13px; display: inline-block; vertical-align: middle; margin: 0 0 0 10px;}
.reportrange2 img{ margin: 0;}
.reportrange:hover, .reportrange2:hover{-webkit-box-shadow: 0px 0px 8px 0px rgba(191,191,191,0.6);-moz-box-shadow: 0px 0px 8px 0px rgba(191,191,191,0.6); box-shadow: 0px 0px 8px 0px rgba(191,191,191,0.6);}
.reportrange .dateRangepicker, .reportrange2 .dateRangepicker2{ width: 100%; padding: 0 10px; margin: 0; border: none; font-size: 12px; color: #37435a; font-family: 'Graphik-Regular'; background: none;} 