@media screen and (max-width:1600px){
    .businessWrap .premiumBxOuter .lobBx, .businessWrap .premiumBxOuter .premiumBx{ height: 400px;}
}

@media screen and (max-width:1500px){
    .insuGraphDiv .graph2 .graph2Inner{ height: 230px;}
    .businessWrap .premiumBxOuter .lobBx, .businessWrap .premiumBxOuter .premiumBx{ height: 380px;}

    .documentList ul li .details ul li .txt .actionIco a {width: 20px; margin: 0 15px 0 0; }
    .documentList ul li .details ul li .txt .actionIco a:last-child {width: 15px;}
}

@media screen and (max-width:1400px){
    .commissionOverDiv .revenueGraph { width: calc(65% - 20px);}
    .agencyTitle h1{ font-size: 28px;}
    .commisionWrap .commMenu a{ font-size: 21px; margin: 0 35px 0 0;}
    .commissionInfo .overallDiv .revenueDiv .businessDiv{ padding: 30px 15px;}
    .commissionInfo .overallDiv .revenueDiv .totalDiv h1{ font-size: 32px;}
    .commissionInfo .overallDiv .revenueDiv .totalDiv h3{ font-size: 18px;}

    .commissionInfo .payDiv .payoutDiv .contentDiv .paymoneyDiv .textDiv h1{ font-size: 32px;}
    .commissionInfo .payDiv .payoutDiv .contentDiv .paymoneyDiv .soldDiv .textSold span{ font-size: 18px;}
    .commissionInfo .payDiv .payoutDiv .contentDiv .paymoneyDiv p{ font-size: 12px;}
    .commissionInfo .payDiv .payoutDiv .contentDiv .payoutDetails ul li{ padding: 18px 20px;}
    .commissionInfo .overallDiv .revenueDiv .businessDiv .newbusiDiv{ margin-bottom: 46px;}
    .commissionLOB .innerLOB .item{ padding: 20px 10px;}

    table.recentDoc tr td .iconBx{ width: 45px;}
    table.recentDoc.contactDoc tr td .iconBx span{ width: 45px; height: 45px; line-height: 45px; font-size: 17px;}
    table.recentDoc.contactDoc tr.p td{ padding: 35px 85px;}

    table.recentDoc tr td .fileName{ width: calc(100% - 105px);}
    table.recentDoc tr td .action a {margin: 0 10px; width: 25px;}

    
    .graphTitleWrap .graphFilter .filterDD{ width: calc(50% - 20px);}
    .graphTitleWrap .graphFilter .filterDD select{ width: 100%; max-width: 150px;}

    .graphInner .graphBx{ height: 238px;}

    .businessWrap .premiumBxOuter .lobBx, .businessWrap .premiumBxOuter .premiumBx{ height: 365px;}

    .careersBox .carrierHead .carrierCnt{ margin: 0 0 0 5px; width: calc(100% - 105px);}
    .careersBox .carrierHead .carrierImg{ margin: 0 5px 0 0;}
    .careersBox .carrierHead .carrierCnt .totCount span{padding: 5px 5px 5px 0;}
    .careersBox .carrierHead .carrierCnt .totCount span:last-child{ padding: 5px 0 5px 5px;}

    .documentList ul li.open .details{ padding: 30px;}

    .folderList ul li .details ul li .txt .actionIco a {width: 15px; margin: 0 12px 0 0;}
    .folderList ul li .details ul li .txt .actionIco a:last-child {width: 13px;}
    .folderList ul li .details ul li .txt h3{ font-size: 13px;}
}

@media screen and (max-width:1300px){
    #wrap{ padding: 30px 40px;}
    .leftCnt{ width: 60%;}
    .rightCnt{ width: 40%;}

    .graphTitleWrap .graphFilter .filterDD select{ width: 100%;}
    .graphTitleWrap .graphFilter .filterDD::after{ top: 50%; transform: translateY(-50%); width: 10px; height: 10px;}

    .reportrange .dateRangepicker, .reportrange2 .dateRangepicker2{ padding: 0 5px 0 0;}

    .businessWrap .premiumBxOuter .lobBx, .businessWrap .premiumBxOuter .premiumBx{ height: 370px;}

    .documentList ul li .details ul{ justify-content: flex-start;}
    .documentList ul li .details ul li{ width: calc(25% - 20px); margin: 5px 10px;}
    .documentList ul li .details .subTitle{ margin: 0 10px 30px;}

    .newsLetterPop .popInner .imgBx img{ max-width: 150px;}
    .newsLetterPop .popInner .imgBx h1{ font-size: 28px;}
    .newsLetterPop .popInner .imgBx{ margin: 30px 0;}
    .thankPop .popInner{ height: 537px;}
}
@media screen and (max-width:1280px){
    .agencyTitle h1{ font-size: 28px;}
    .revenueCount .countBx h2{ font-size: 28px;}
    .revenueWrap .revenueBox .overAllBx h3{ font-size: 18px;}
    .revenueWrap .revenueBox .overAllBx h1{ font-size: 42px;}
    .revenueWrap .revenueBox .percBx h2{ font-size: 20px;}
    .revenueWrap .revenueBox .percBx h2 #arUp{ width: 12px;}
    .revenueWrap .revenueBox .percBx span{ margin-bottom: 15px;}
    .revenueWrap .revenueBox .percBx h1{ font-size: 20px;}
    .businessWrap .busiMenu a{ font-size: 20px;}

    .graphInner .graphCntBx .pifBx h3, .graphInner .graphCntBx .ouoteBx h3{ font-size: 14px;}
    .graphInner .graphCntBx .pifBx h2, .graphInner .graphCntBx .ouoteBx h2{ font-size: 20px;}
    .graphInner .graphCntBx .ouoteBx h2{ margin-bottom: 15px;}

    .businessWrap .premiumBxOuter .lobBx .lobHeader h1{ font-size: 42px;}
    .businessWrap .premiumBxOuter .lobBx .lobHeader {  margin-bottom: 10px;}
    .businessWrap .premiumBxOuter{ align-items: flex-start;}

    .graph2Title{ margin-bottom: 18px;}
    .graph2Title a, .graph2Title h3{ font-size: 12px;}

    .folderList ul li.open .details{ padding: 30px 40px;}
    .folderList ul li .details{ width: calc(600% + 80px + 130px); margin-left: calc((0 * (100% + 50px)) - 40px);}

    .folderList ul li:nth-child(6n+2) .details{margin-left:calc((-1 * (100% + 25px)) - 40px);}
    .folderList ul li:nth-child(6n+3) .details{margin-left:calc((-2 * (100% + 25px)) - 40px);}
    .folderList ul li:nth-child(6n+4) .details{margin-left:calc((-3 * (100% + 25px)) - 40px);}
    .folderList ul li:nth-child(6n+5) .details{margin-left:calc((-4 * (100% + 25px)) - 40px);}
    .folderList ul li:nth-child(6n+6) .details{margin-left:calc((-5 * (100% + 25px)) - 40px);}

    .menuWrapper{ padding: 30px 0 0;}
    .menuWrapper{ width: 85px;}
    .menuWrapper ul li a{ padding: 25px 0;}
    .menuWrapper ul li:last-child a svg{ width: 40px;}
    #wrap {width: calc(100% - 85px); margin: 75px 0 0 85px; padding: 30px;}
    .graphInner .graphBx{ height: 245px;}

    .notificationPanel .userPanel{ margin: 0;}

    .careersBox .carrierHead .carrierImg{ width: 68px;}
    .careersBox .carrierHead .carrierCnt {width: calc(100% - 85px); }
    .careersBox .carrierHead {padding: 22px 20px;}

    .revenueCount .countBx{ margin: 0 50px 0 0;}
    .commissionOverDiv .reportDiv .titleFilter .export a svg {width: 13px;height: 13px;}

    .cmsnpTitle .export a svg{ width: 13px; height: 13px; }

    .documentList ul li .details ul li .txt .actionIco a { width: 15px; margin: 0 15px 0 0;}
    .documentList ul li .details ul li .txt .actionIco a:last-child{ width: 13px;}
}

@media screen and (max-width:1100px){
    .graphInner{ flex-flow: row wrap;}
    /* .graphInner .graphBx{ width: 100%; margin-bottom: 25px;}
    .graphInner .graphCntBx{ width: 100%;} */
    .graphInner .graphBx{ height: 235px;}

    /* .chart-wrapper{ width: calc(100% - 40px);}
    #legend { width: 100%; padding: 0 20px;} */

    #legend h2{ margin-bottom: 15px; font-size: 12px;}
    #legend ul li{ margin-bottom: 5px; font-size: 13px;}

    .businessWrap .premiumBxOuter .lobBx .lobHeader h1{ font-size: 35px;}

    table tbody tr td{ padding: 9px; font-size: 13px;}

    .careersBox .carrierHead .carrierCnt h2{ font-size: 15px;}

    .careersBox .carrierHead .carrierImg{ margin: 0 5px 0 0; width: calc(25% - 9px);}
    .careersBox .carrierHead .carrierCnt{ margin: 0 0 0 5px; width: calc(75% - 9px);}
    .careersBox .carrierHead .carrierCnt .totCount span{ font-size: 11px; padding: 5px 5px 5px 0;}
    .careersBox .carrierHead .carrierCnt .totCount span:last-child{ padding: 5px 0 5px 5px;}

    .careersBox .carrierHead{ padding: 13px 10px;}
    .premiumBxWrap .premiumBx{ padding: 10px 5px;}
    .premiumGraph{ max-height: 132px;}
    .documentWrapInner .documentBx .imgBx {width: calc(40% - 13px); margin: 0 10px 0 0;}
    .documentWrapInner .documentBx{ padding: 10px; width: calc(25% - 5px);}
    .documentWrapInner .documentBx .docCnt h3{ font-size: 11px;}

    .graphTitleWrap{ margin-bottom: 25px;}

    .graphTitleWrap{ flex-flow: row wrap;}
    /* .graphTitle{ width: 100%; margin-bottom: 15px;}
    .graphFilter{ width: 100%; text-align: left;} */
    .graphTitleWrap .graphFilter .filterDD{ width: 100px;}
    .graphTitleWrap .graphFilter .filterDD:first-child{ margin: 0 10px 0 0;}
    .businessWrap .premiumBxOuter .lobBx .lobChart { margin: 37px 0; }


    /* .commissionInfo .overallDiv .revenueDiv .totalDiv{ width: 100%; padding: 20px 0; border: none;}
    .commissionInfo .overallDiv .revenueDiv .businessDiv{ width: 100%;} */

    .commissionInfo .overallDiv .revenueDiv .totalDiv{ width: 45%;}
    .commissionInfo .overallDiv .revenueDiv .totalDiv h1{ font-size: 27px;}
    .commissionInfo .overallDiv .revenueDiv .totalDiv h3{ font-size: 16px;}
    .commissionInfo .overallDiv .revenueDiv{ padding: 22px 20px;}
    .commissionInfo .overallDiv .revenueDiv .businessDiv{ width: 55%;}
    .commissionInfo .overallDiv .revenueDiv .businessDiv .iconDiv{ width: 20%;}
    .commissionInfo .overallDiv .revenueDiv .businessDiv .textDiv h3{ font-size: 14px;}
    .commissionInfo .overallDiv .revenueDiv .businessDiv .textDiv h1{ font-size: 24px;}


    .commissionInfo .payDiv .payoutDiv .contentDiv .paymoneyDiv{ padding: 12px; width: calc(42% - 3px);}
    .commissionInfo .payDiv .payoutDiv .contentDiv{ padding: 0;}

    .commissionInfo .payDiv .payoutDiv .contentDiv .paymoneyDiv .soldDiv .text span{ font-size: 20px;}
    .commissionInfo .payDiv .payoutDiv .contentDiv .paymoneyDiv p br{ display: none;}
    .commissionInfo .payDiv .payoutDiv .contentDiv .payoutDetails ul li { padding: 17px 10px;}

    .commissionOverDiv .reportDiv .payoutDetails ul{ margin-top: 15px;}
    .commissionOverDiv .reportDiv .titleFilter{ margin-bottom: 15px;}

    .commissionOverDiv .reportDiv .payDetails .leftDiv h1, .commissionOverDiv .reportDiv .payDetails .rightDiv h1{ font-size: 22px;}
    .commissionOverDiv .reportDiv .payDetails .leftDiv h2, .commissionOverDiv .reportDiv .payDetails .rightDiv h2{ font-size: 14px;}


    .productCommDiv .graphFilter{ width: auto;}

    .healthGraph .insuInfo{ width:100%; border-right: none;}
    .healthGraph .insuGraphInner{ width: 100%;}
    .insuGraphDiv{ padding: 20px 0 0;}

    body{ cursor: pointer;}

    .healthGraph .insuInfo .insuWrap{ width: 50%; float: left;}
    .healthGraph .insuInfo ul{ width: 50%; float: left;}

    .recentDocWrap{ padding: 35px;}
    table.recentDoc tr td .iconBx{ margin: 0 15px;}
    table.recentDoc tr td .fileName h3{ font-size: 12px;}
    table.recentDoc tr td{ font-size: 12px;}

    .folderList ul li {width: calc(16.6% - 10px);}
    .folderList ul li .box{ padding: 10px;}
    .folderList ul li h2{ font-size: 13px;}
    .folderList ul li span{ font-size: 12px;}
    .folderList ul li .details {width: calc(600% + 80px + 63px);}
    .folderList ul li:nth-child(6n+2) .details{margin-left:calc((-1 * (100% + 13px)) - 40px);}
    .folderList ul li:nth-child(6n+3) .details{margin-left:calc((-2 * (100% + 13px)) - 40px);}
    .folderList ul li:nth-child(6n+4) .details{margin-left:calc((-3 * (100% + 13px)) - 40px);}
    .folderList ul li:nth-child(6n+5) .details{margin-left:calc((-4 * (100% + 13px)) - 40px);}
    .folderList ul li:nth-child(6n+6) .details{margin-left:calc((-5 * (100% + 13px)) - 40px);}

    .folderList ul li .details ul li{ width: calc(33.3% - 10px); padding: 10px; margin: 10px 0;}
    .folderList ul li .details ul li .txt h3{ font-size: 13px; line-height: 1.3;}

    .folderTitle h1{ font-size: 26px;}
    .folderTitle span{ font-size: 15px;}

    table.recentDoc.contactDoc tr td .fileName h3, table.recentDoc.contactDoc tr td{ font-size: 14px;}
    table.recentDoc.contactDoc tr td .iconBx span{ width: 40px; height: 40px; line-height: 40px;}
    table.recentDoc.contactDoc tr td .action{ padding: 0;}
    table.recentDoc.contactDoc tr.p td{ padding: 25px 75px;}

    .businessWrap .premiumBxOuter .lobBx .lobChart {margin: 23px 0;}

    .graphTitleWrap .graphTitle h2{ font-size: 16px;}
    .graphTitleWrap .graphTitle span{ font-size: 13px;}

    body .chart-wrapper #chartjs-tooltip p{ font-size: 25px;}

    .commissionOverDiv .revenueGraph { width: calc(60% - 10px); margin: 0 10px 0 0;}
    .commissionOverDiv .reportDiv {width: calc(40% - 10px);}

    .commissionOverDiv .revenueGraph .titleDiv{ margin-bottom: 40px;}
    .commissionOverDiv .revenueGraph .titleDiv h2{ width: auto; float: none; display: inline-block; vertical-align: middle; margin: 0 5px 0 0; padding-bottom: 0;}
    .commissionOverDiv .revenueGraph .titleDiv a{ width: auto; float: none; display: inline-block; vertical-align: middle; margin: 0 0 0 5px;}

    .tableWrap .tableOptions .dataSearch .text{ padding: 0 30px 0 10px; font-size: 12px; line-height: 29px; height: 29px;}
    .tableWrap .tableOptions .dataSearch button.submit{ width: 14px;}

    .healthGraph .insuGraphInner .titleDiv h2{ display: inline-block; vertical-align: middle; width: auto; float: none; margin: 0 5px 0 0;}
    .healthGraph .insuGraphInner .titleDiv a{ display: inline-block; vertical-align: middle; margin: 0 0 0 5px;}

    .businessWrap .premiumBxOuter .lobBx, .businessWrap .premiumBxOuter .premiumBx{ height: 345px;}

    .tableWrap .tableOptions .filterDiv .filterInner a{ height: 29px;}
    .healthGraph .insuGraphInner .titleDiv .titleFilter .export a{ padding: 7px 10px;}

    .topSellingWrap {padding: 12px 10px; }
    .premiumGraph span{ left: 10px;}

    .businessWrap .premiumBxOuter .lobBx .lobHeader{ padding: 23px 10px;}

    .chart-wrapper {margin: 0 10px 20px;width: calc(60% - 24px);}

    .profileHead .agentClose{ width: 50px;}
    .profileHead{ padding: 35px 7%;}

    .commissionOverDiv .reportDiv .titleFilter .export a{ height: 29px;}
    .reportrange, .reportrange2{ padding: 0 10px; height: 29px;}

    .healthGraph .insuInfo .imgBx{ text-align: center; width: 50%;}
    .healthGraph .insuInfo .imgBx img{ display: inline-block;}
    .healthGraph .insuInfo ul li h3{ font-size: 24px;}
    .healthGraph .insuInfo ul li span{ font-size: 16px;}

    .documentList ul li .docCnt {width: calc(100% - 90px);margin: 0 0 0 15px;}

    .documentList ul li .details{ width: calc(300% + 130px); margin-left: calc((0 * (100% + 50px)) - 35px);}
    .documentList ul li:nth-child(3n+2) .details {margin-left: calc((-1 * (100% + 46px)) - 20px);}
    .documentList ul li:nth-child(3n+3) .details {margin-left: calc((-2 * (100% + 39px)) - 18px);}
    .documentList ul li .details ul li {width: calc(33.3% - 20px);}

}