@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');

@font-face {
    font-family: 'Graphik-Bold';
    src: url('fonts/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Graphik-Bold.otf')  format('opentype'),
         url('fonts/Graphik-Bold.woff') format('woff'),
         url('fonts/Graphik-Bold.ttf')  format('truetype'),
         url('fonts/Graphik-Bold.svg#Graphik-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik-Light';
    src: url('fonts/Graphik-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/Graphik-Light.woff') format('woff'), 
         url('fonts/Graphik-Light.ttf')  format('truetype'), 
         url('fonts/Graphik-Light.svg#Graphik-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Graphik-Medium';
    src: url('fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/Graphik-Medium.otf')  format('opentype'),
         url('fonts/Graphik-Medium.woff') format('woff'), 
         url('fonts/Graphik-Medium.ttf')  format('truetype'), 
         url('fonts/Graphik-Medium.svg#Graphik-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Graphik-Regular';
    src: url('fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Graphik-Regular.otf')  format('opentype'),
         url('fonts/Graphik-Regular.woff') format('woff'), 
         url('fonts/Graphik-Regular.ttf')  format('truetype'), 
         url('fonts/Graphik-Regular.svg#Graphik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Graphik-Semibold';
    src: url('fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Graphik-Semibold.otf')  format('opentype'),
         url('fonts/Graphik-Semibold.woff') format('woff'), 
         url('fonts/Graphik-Semibold.ttf')  format('truetype'), 
         url('fonts/Graphik-Semibold.svg#Graphik-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{background-color: #f7fafc; font-family: 'Graphik-Regular'; font-weight: 400; font-size: 12px; color: #7f8899; line-height: 1.1;}

.header{ width: 100%; height: 75px; float: left; position: fixed; top: 0; left: 0; border: solid 1px #e4e7ec; display: flex; align-items: center; justify-content: space-between; padding: 0 18px; background: #fff; z-index: 999;}
.header .logo{ width: 130px; }
.header .logo img{ width: 100%;}
.agencyLogo{ display: flex; align-items: center; justify-content: space-between;}
.agencyLogo{ font-size: 14px; color: #37435a;}

.notificationPanel{ display: flex; align-items: center; justify-content: center;}
.notificationPanel .notificationInner{ height: 75px; padding: 0 25px; display: flex; align-items: center; border-left: solid 1px #e4e7ec;}
.notificationPanel .notificationInner a{transition: all .35s ease 0s;-moz-transition: all .35s ease 0s;-webkit-transition: all .35s ease 0s;}
.notificationPanel .notificationInner a:hover{ opacity: 0.7;}
.notificationPanel .userPanel{ height: 75px; display: flex; align-items: center; border-left: solid 1px #e4e7ec; padding: 0 17px; margin: 0 50px 0 0;}
.notificationPanel .userPanel a{ display: flex; align-items: center; justify-content: center;}
.notificationPanel .userPanel a .initial{transition: all .35s ease 0s;-moz-transition: all .35s ease 0s;-webkit-transition: all .35s ease 0s; width: 35px; height: 35px; line-height: 35px; background-color: #eef1f4; border-radius: 50%; margin: 0 5px 0 0;}
.notificationPanel .userPanel a .userName{ text-align: left;}
.notificationPanel .userPanel a .userName h2{transition: all .35s ease 0s;-moz-transition: all .35s ease 0s;-webkit-transition: all .35s ease 0s; font-family: 'Graphik-Medium'; color: #37435a; font-size: 14px; position: relative;}
.notificationPanel .userPanel a .userName h2::after{content: ""; width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 7px solid #000; position: absolute; left: 100%; top: 2px;}
.notificationPanel .userPanel a .userName span{color: #9eb0c2; }

.notificationPanel .userPanel:hover a .initial{-webkit-box-shadow: 0px 0px 13px 0px rgba(191,191,191,1); -moz-box-shadow: 0px 0px 13px 0px rgba(191,191,191,1); box-shadow: 0px 0px 13px 0px rgba(191,191,191,1);}
.notificationPanel .userPanel:hover a .userName h2{ color: #2956f6;}

.menuWrapper{ width: 100px; height: calc(100vh - 75px); position: fixed; left: 0; top: 75px; border-right: solid 1px #e4e7ec;  background-color: #ffffff; padding: 20px 0; z-index: 1;}
.menuWrapper ul{ width: 100%; float: left;}
.menuWrapper ul li{ width: 100%; float: left; position: relative;}
.menuWrapper ul li a{width: 100%; float: left; display: flex; align-items: center; justify-content: center; padding: 30px 0;}
.menuWrapper ul li a svg g{ fill: #9eb0c2; transition: all .35s ease 0s;-moz-transition: all .35s ease 0s;-webkit-transition: all .35s ease 0s;}
.menuWrapper ul li:hover a svg g{ fill: #2d75ff;}
.menuWrapper ul li a.active{ background: rgba(45, 117, 255, 0.06); border-left: 4px solid #2d75ff;}
.menuWrapper ul li a.active svg g{ fill: #2d75ff;}

.menuWrapper ul li .right { top:50%; left:calc(100% + 6px); margin-left:0; transform:translate(0, -50%); padding:5px 19px; color:#fff; text-transform: none;  background-color: rgba(55, 67, 90, 0.6); font-weight:normal; font-size:12px; border-radius:0; position:absolute; z-index:99999999; box-sizing:border-box; visibility:hidden; opacity:0; transition:opacity 0.8s; font-family: "Graphik-Medium"; text-align: left; font-weight: normal;}
.menuWrapper ul li:hover .right { visibility:visible; opacity:1;}
.menuWrapper ul li .right i { position:absolute; top:50%; right:100%; margin-top:-11px; width:8px; height:24px; overflow:hidden;}
.menuWrapper ul li .right i::after { content:''; position:absolute; width:8px; height:8px; left:0; top:50%; transform:translate(50%,-50%) rotate(-45deg); background-color: rgba(55, 67, 90, 0.6);}

.menuWrapper ul li:last-child .right{ min-width: 130px;}

#wrap{ width: calc(100% - 100px); float: left; margin: 75px 0 0 100px; padding: 40px 75px;}
#wrap.docWrap{ padding: 40px 0;}

.agencyTitle{ margin: 0 0 30px;}
.agencyTitle h1{ width: 100%; float: left; font-size: 32px; font-family: 'Graphik-Semibold'; color: #37435a; font-weight: 400; line-height: 1.1; margin-bottom: 5px;}
.agencyTitle span{ width: 100%; float: left; font-size: 14px; letter-spacing: 0.5px; color: #9eb0c2; font-weight: 500; line-height: 1.1;}
.agencyTitle span.bigSpan{ font-size: 19px;}
.agencyTitle h3{ width: 100%; float: left; font-size: 19px; font-family: 'Graphik-Regular'; color: #37435a; font-weight: 400; line-height: 1.1; opacity: 0.51;}

.revenueWrap{ margin-bottom: 50px; display: flex; align-items: center; justify-content: space-between;}
.revenueCount{ display: flex; align-items: center; justify-content: flex-start; width: 55%;}
.revenueCount .countBx{width: 33.3%; max-width: 125px; margin: 0 100px 0 0; text-align: center;}
.revenueCount .countBx img{max-width: 100%; display: inline-block; margin-bottom: 15px; transition: all .35s ease 0s;}
.revenueCount .countBx h2{ width: 100%; float: left; font-size: 32px; color: #37435a; font-family: 'Graphik-Light'; font-style: normal;}
.revenueCount .countBx span{ width: 100%; float: left; font-size: 14px; color: #9eb0c2; font-family: 'Graphik-Regular'; font-weight: 500; font-style: normal;}
.revenueCount .countBx:hover img{ opacity: 0.70;}

.revenueWrap .revenueBox{ width: 45%; background-color: #fff; border-radius: 4px; transition: all .35s ease 0s; box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1); border: solid 1px #e4e7ec;}
.revenueWrap .revenueBox .overAllBx{ width: calc(60% - 4px); display: inline-block; vertical-align: middle; border-right: solid 1px #e4e7ec; padding: 25px;}
.revenueWrap .revenueBox .overAllBx h3{ font-size: 20px; color: #9eb0c2; font-family: "Graphik-Medium"; width: 100%; float: left; margin-bottom: 5px;}
.revenueWrap .revenueBox .overAllBx h1{ font-size: 48px; color: #2d75ff; font-family: "Graphik-Light"; width: 100%; float: left; margin-bottom: 5px;}
.revenueWrap .revenueBox .overAllBx a{ font-size: 12px; text-decoration: underline; color: #2d75ff; font-family: "Graphik-Regular"; display: inline-block;}
.revenueWrap .revenueBox:hover{ border-color: #2d75ff;}
.revenueWrap .revenueBox .overAllBx a:hover{ opacity: 0.8;}

.revenueWrap .revenueBox .percBx{ width: calc(40% - 4px); display: inline-block; vertical-align: middle; padding: 15px;}
.revenueWrap .revenueBox .percBx h2{ width: 100%; float: left; font-size: 24px; color: #7dc75c;}
.revenueWrap .revenueBox .percBx h2 #arUp{ width: 17px;}
.revenueWrap .revenueBox .percBx h2 #arUp .cls-1{ stroke: #7dc75c;}
.revenueWrap .revenueBox .percBx span{ width: 100%; float: left; font-size: 10px; margin-bottom: 25px; color: #9eb0c2;}
.revenueWrap .revenueBox .percBx h3{ width: 100%; float: left; font-size: 16px; color: #97a4ba; font-family: "Graphik-Medium"; margin-bottom: 5px;}
.revenueWrap .revenueBox .percBx h1{ width: 100%; float: left; font-size: 24px; color: #67758d; font-family: "Graphik-Light"; }

.businessWrap{margin-bottom: 45px;}
.businessWrap .busiMenu{ margin-bottom: 15px;}
.businessWrap .busiMenu a{ display: inline-block; margin: 0 30px 0 0; font-size: 24px; color: #9eb0c2; font-family: "Graphik-Medium";}
.businessWrap .busiMenu a:hover, .businessWrap .busiMenu a.active{color: #2956f6;}

.businessWrap .premiumBxOuter{ display: flex; align-items: center; justify-content: space-between;}
.businessWrap .premiumBxOuter .premiumBx{ width: calc(65% - 10px); height: 450px; border-radius: 4px; box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1); border: solid 1px #e4e7ec; padding: 20px; background-color: #ffffff;}

.graphTitleWrap{ display: flex; align-items: center; justify-content: space-between; margin-bottom: 35px;}
.graphTitleWrap .graphTitle h2{ color: #37435a; font-size: 18px; display: inline-block; vertical-align: middle; width: 100%; margin-bottom: 5px;}
.graphTitleWrap .graphTitle h2 a{text-decoration: underline;  display: inline-block; vertical-align: middle; font-size: 12px; color: #2d75ff; margin: 0 0 0 10px; transition: all .35s ease 0s;}
.graphTitleWrap .graphTitle h2 a:hover{ opacity: 0.8;}
.graphTitleWrap .graphTitle span{ font-size: 14px; color: #7f8899; width: 100%; float: left;}

.graphTitleWrap .graphFilter .filterDD{ display: inline-block; vertical-align: middle; margin: 0 10px; position: relative; text-align: left;}
.graphTitleWrap .graphFilter .filterDD:last-child{ margin: 0 0 0 10px;}
.graphTitleWrap .graphFilter .filterDD select{ width: 150px; display: inline-block;}

.graphInner{ display: flex; align-items: flex-start; justify-content: space-between;}
.graphInner .graphBx{ width: calc(73% - 10px); height: 260px;}

canvas, body *{ -webkit-touch-callout: none;  outline: none;  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);}

.graphInner .graphCntBx{width: calc(27% - 10px);}
.graphInner .graphCntBx .pifBx{ border-radius: 3px; border: solid 1px #eef1f4; padding: 10px; margin-bottom: 17px; margin-top: 0;}
.graphInner .graphCntBx .pifBx h3{ font-size: 16px; color: #97a4ba; width: 100%; float: left; margin-bottom: 5px;  font-family: "Graphik-Medium";}
.graphInner .graphCntBx .pifBx h2{ font-size: 24px; color: #37435a; width: 100%; float: left; margin-bottom: 5px;  font-family: "Graphik-Light";}
.graphInner .graphCntBx .pifBx span{ font-size: 10px;  color: #37435a; width: 100%; float: left; }

.graphInner .graphCntBx .ouoteBx{ border-radius: 3px; border: solid 1px #eef1f4; padding: 10px; margin-bottom: 0;}
.graphInner .graphCntBx .ouoteBx h3{ font-size: 16px; color: #97a4ba; width: 100%; float: left; margin-bottom: 5px;  font-family: "Graphik-Medium";}
.graphInner .graphCntBx .ouoteBx h2{ font-size: 24px; color: #37435a; width: 100%; float: left; margin-bottom: 22px;  font-family: "Graphik-Light";}
.graphInner .graphCntBx .ouoteBx h4{ width: 100%; float: left; font-size: 16px; color: #7dc75c;}
.graphInner .graphCntBx .ouoteBx h4 #arUp1{ width: 11px;}
.graphInner .graphCntBx .ouoteBx h4 #arUp1 .cls-1{ stroke: #7dc75c;}
.graphInner .graphCntBx .ouoteBx span{ width: 100%; float: left; font-size: 12px; color:#9eb0c2;}

.businessWrap .premiumBxOuter .lobBx{ width: calc(35% - 10px); height: 450px; border-radius: 4px; box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1); border: solid 1px #e4e7ec; padding: 0; background-color: #ffffff;}
.businessWrap .premiumBxOuter .lobBx .lobHeader{ padding: 23px 20px; margin-bottom: 15px; border-bottom: 1px solid #e4e7ec;}
.businessWrap .premiumBxOuter .lobBx .lobHeader h1{ font-size: 48px; color: #37435a; width: 100%; float: left; margin-bottom: 5px;  font-family: "Graphik-Light";}
.businessWrap .premiumBxOuter .lobBx .lobHeader h3{ font-size: 13px; color: #9eb0c2; width: 100%; float: left; margin-bottom: 5px;  font-family: "Graphik-Medium";}

.businessWrap .premiumBxOuter .lobBx .lobChart{ margin: 10px 0;}

.policyWrap { display: flex; align-items: flex-start; justify-content: space-between; margin-bottom: 30px;}
.policyWrap .policyInner{width: calc(65% - 10px);}
.tableTitle{ width: 100%; float: left; margin-bottom: 15px;}
.tableTitle h2{ font-size: 16px; color: #9eb0c2; display: inline-block; vertical-align: middle; margin: 0 10px 0 0; font-family: "Graphik-Medium";}
.tableTitle a{display: inline-block;vertical-align: middle; text-decoration: underline; font-size: 12px; color: #2d75ff; margin: 0 0 0 10px; transition: all .35s ease 0s;}
.tableTitle a:hover{ opacity: 0.8;}

table{border-radius: 4px; box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1); border: solid 1px #e4e7ec; background-color: #ffffff; width: 100%; }
table thead tr{ background-color: rgba(155, 184, 213, 0.23);}
table thead tr th{ font-size: 12px; color: #7f8899; letter-spacing: 1px; text-transform: uppercase; padding: 13px;  font-family: "Graphik-Medium"; font-weight: normal;}
table tbody tr td{ font-size: 14px; color: #37435a; letter-spacing: normal; padding: 13px;}
table tbody tr:not(:last-child) td{ border-bottom: solid 1px #e4e7ec;}
table tbody tr td span{ display: inline-block; vertical-align: middle;}
table tbody tr td span.initials{ width: 27px; height: 27px; text-align: center; line-height: 27px; font-size: 10px; border-radius: 50%;  margin: 0 10px 0 0;}
table tbody tr td a img{ width: 15px;}

table tbody tr td .danger{border: 1px solid rgba(255, 0, 0, 0.2); background-color: rgba(255, 0, 0, 0.06);}
table tbody tr td .warning{border: 1px solid rgba(255, 114, 0, 0.2); background-color: rgba(255, 114, 0, 0.06);}
table tbody tr td .success{border: 1px solid rgba(53, 191, 10, 0.2); background-color: rgba(53, 191, 10, 0.06);}
table tbody tr td .info{border: 1px solid rgba(23, 147, 169, 0.2); background-color: rgba(23, 147, 169, 0.06);}
table tbody tr td .progress{border: 1px solid rgba(88, 93, 152, 0.2); background-color: rgba(88, 93, 152, 0.06);}

.policyWrap .careersInner {width: calc(35% - 10px);}
.careersBox{border-radius: 4px; box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1); border: solid 1px #e4e7ec; background-color: #ffffff; width: 100%; float: left; overflow: hidden;}
.careersBox .carrierHead{ padding: 12px 20px;}
.careersBox .carrierHead .carrierImg{ display: inline-block; vertical-align: middle; margin: 0 10px 0 0; width: 88px;}
.careersBox .carrierHead .carrierImg img{ max-width: 100%;}

.careersBox .carrierHead .carrierCnt{ display: inline-block; vertical-align: middle; margin: 0 0 0 10px; width: calc(100% - 112px);}
.careersBox .carrierHead .carrierCnt h2{ width: 100%; float: left; font-size: 17px; color: #323c47; margin-bottom: 5px;}
.careersBox .carrierHead .carrierCnt .totCount span{ display: inline-block; vertical-align: middle; color: #9eb0c2; font-size: 13px; margin:0; padding: 5px 10px 5px 0; border-right: 1px solid #9eb0c2;}
.careersBox .carrierHead .carrierCnt .totCount span:last-child{ border-right: none; padding: 5px 0 5px 10px;}

.premiumBxWrap{ margin: 0; border-top:1px solid #e9eff4; border-bottom:1px solid #e9eff4;}
.premiumBxWrap .premiumBx{ width: 33.3%; float: left; padding: 15px 10px; text-align: center; border-right:1px solid #e9eff4; display: flex; align-items: center; justify-content: center;}
.premiumBxWrap .premiumBx:last-child{border-right:none;}
.premiumBxWrap .premiumBx h3{ display: block; color: #4da1ff; line-height: 1.63; font-size: 16px;}
.premiumBxWrap .premiumBx span{ display: block; color: #323c47; letter-spacing: 0.39px; font-size: 11px;}

.premiumGraph{ padding: 0; border-bottom: solid 1px #e9eff4; position: relative;}
.premiumGraph span{ font-size: 11px; opacity: 0.87; letter-spacing: 0.39px; color: #323c47; position: absolute; left: 20px; top: 10px; }

.topSellingWrap{ padding: 13px 20px 9px;}
.topSellingWrap p{ letter-spacing: 0.43px; color: #9eb0c2; font-size: 12px; width: 100%; float: left; margin-bottom: 5px;}
.topSellingWrap h3{ color: #37435a; font-size: 14px; width: 100%; float: left; margin-bottom: 10px; font-family: 'Graphik-Medium';}
.topSellingWrap .totCount span{ display: inline-block; vertical-align: middle; color: #37435a; font-size: 14px; margin:0; padding: 2px 10px 0 0; opacity: 0.71;}
.topSellingWrap .totCount span:last-child{ padding: 2px 0 0 10px;}

.BxBtn a{ font-size: 14px; letter-spacing: 1px;  font-family: 'Graphik-Medium'; color: #fff; background-color: #2d75ff; padding: 15px; width: 100%; float: left; text-align: center;}

.documentWrapInner{ display: flex; align-items: center; justify-content: space-between;}
.documentWrapInner .documentBx{border: solid 1px #e4e7ec; background-color: #ffffff; width: calc(25% - 10px); padding: 12px 14px; transition: all .35s ease 0s;}
.documentWrapInner .documentBx .imgBx{ width: calc(40% - 26px); display: inline-block; vertical-align: middle; margin: 0 23px 0 0;}
.documentWrapInner .documentBx .imgBx img{ max-width: 100%;}
.documentWrapInner .documentBx .docCnt{ width: calc(60% - 3px); display: inline-block; vertical-align: middle; }
.documentWrapInner .documentBx .docCnt h3{ width: 100%; float: left; color: #37435a; font-size: 14px; margin-bottom: 5px;}
.documentWrapInner .documentBx .docCnt .totCount{margin-bottom: 15px;}
.documentWrapInner .documentBx .docCnt .totCount span{ display: inline-block; vertical-align: middle; color: #9eb0c2; font-size: 12px; margin:0; padding: 0px 5px 0px 0; border-right: 1px solid #9eb0c2; line-height: 1.1; font-weight: normal;}
.documentWrapInner .documentBx .docCnt .totCount span:last-child{ border-right: none; padding: 0px 0 0px 5px;}
.documentWrapInner .documentBx:hover{border-color: #2d75ff;}

.documentWrapInner .documentBx .docCnt .buttons a.viewBtn{  transition: all .35s ease 0s; display: inline-block; vertical-align: middle; margin: 0 10px 0 0; border: 1px solid #2d75ff; border-radius: 4px; padding: 5px 15px; color: #2d75ff; font-size: 12px;}
.documentWrapInner .documentBx .docCnt .buttons a.viewBtn:hover{ color: #fff; background: #2d75ff;}

.documentWrapInner .documentBx .docCnt .buttons a.downloadBtn{ display: inline-block; vertical-align: middle; }
.documentWrapInner .documentBx .docCnt .buttons a.downloadBtn img{ max-width: 100%; transition: all .35s ease 0s;}
.documentWrapInner .documentBx .docCnt .buttons a.downloadBtn:hover img{ opacity: 0.7;}

.chart-wrapper {
    max-height: 300px;
    position: relative;
    margin: 0 20px 20px;
    width: calc(60% - 44px);
    display: inline-block;
    vertical-align: middle;
  }
  body .chart-wrapper #myChart {
    position: relative;
    z-index: 1;
  }
  body .chart-wrapper #chartjs-tooltip {
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 0;
    height: 100%;
    padding: 0;
    opacity: 1 !important;
    align-items: center;
    text-align: center;
  }

  body .chart-wrapper #chartjs-tooltip p{color: #2e384d; font-family: 'Rubik', sans-serif; font-weight: 300; font-size: 40px;}
  body .chart-wrapper #chartjs-tooltip p span{ width: 100%; float: left; font-size: 12px; font-family: 'Rubik', sans-serif; font-weight: 500; color: #b0bac9; margin-top: 5px; letter-spacing: 1px;}

#legend{ width: calc(40% - 4px); display: inline-block; vertical-align: middle;}
#legend h2{ width: 100%; float: left; margin-bottom: 20px; font-size: 14px; color: #9eb0c2; font-family: 'Rubik', sans-serif; font-weight: 500;}
#legend ul{ width: 100%; float: left;}
#legend ul li{ width: 100%; float: left; line-height: 1.47; font-family: 'Rubik', sans-serif; font-size: 15px; letter-spacing: normal; color: #2e384d; margin-bottom: 10px;}
#legend ul li span{width: 12px; height: 12px; display: inline-block; vertical-align: middle; border-radius: 50%; margin: 0 10px 0 0;}

.premiumGraph{ height: 160px;}

.careerSlider{ padding: 0 0 20px;}

.graphTitle{ width: 50%; float: left;}
.graphFilter{ width: 50%; float: left; text-align: right;}

.healthGraph{padding: 20px; margin: 25px 0 35px; border-radius: 3px; box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1); border: solid 1px #e4e7ec; background-color: #ffffff;}
.healthGraph .insuInfo{ width: 25%; float: left; padding: 20px; border-right: solid 1px #979797;} 
.healthGraph .insuInfo .imgBx{ width: 40%; float: left; box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1); background-color:#eaf1fe; padding: 10px; border-radius: 3px; margin-bottom: 18px;}  
.healthGraph .insuInfo .imgBx img{ max-width: 100%;}

.healthGraph .insuInfo .insuTitle{ }
.healthGraph .insuInfo .insuTitle h2{ color: #323c47; font-size: 17px; width: 100%; float: left; margin-bottom: 3px;}
.healthGraph .insuInfo .insuTitle .totCount span{ display: inline-block; vertical-align: middle; color: #9eb0c2; font-size: 13px; margin:0; padding: 5px 10px 5px 0; border-right: 1px solid #9eb0c2;}
.healthGraph .insuInfo .insuTitle .totCount span:last-child{ border-right: none; padding: 5px 0 5px 10px;}
.healthGraph .insuInfo ul{ width: 100%; float: left; display: flex; align-items: center; justify-content: space-between; flex-flow: row wrap;}
.healthGraph .insuInfo ul li{ width: calc(50% - 10px); margin: 15px 0;}
.healthGraph .insuInfo ul li h3{ width: 100%; float: left; color: #37435a; font-size: 16px; margin-bottom: 3px;}
.healthGraph .insuInfo ul li span{ width: 100%; float: left; letter-spacing: 0.39px; color: #323c47; font-size: 11px;}

.healthGraph .insuGraphInner{width: 75%; float: left; padding: 20px 0 20px 20px; }
.healthGraph .insuGraphInner .titleDiv{width: 100%;float: left;margin-bottom: 25px; display: flex; align-items: flex-start; justify-content: space-between;}
.healthGraph .insuGraphInner .titleDiv h2{ margin: 0 10px 0 0; font-size: 22px;color: #000;font-family: 'Graphik-Medium'; display: inline-block; vertical-align: middle; padding-bottom: 2px;}
.healthGraph .insuGraphInner .titleDiv a{transition: all .35s ease 0s;  color: #2d75ff; display: inline-block; vertical-align: middle; font-size: 12px;font-family: 'Graphik-Regular';  text-decoration: underline;}
.healthGraph .insuGraphInner .titleDiv a:hover{ opacity: 0.7;}

.healthGraph .insuGraphInner .titleDiv .titleFilter{ width: 100%; max-width: 380px; padding: 0 0 0 0; display: flex; align-items: center; justify-content: space-between; margin-bottom: 25px;}
.healthGraph .insuGraphInner .titleDiv .titleFilter .calenderDiv{ width: 60%;}
.healthGraph .insuGraphInner .titleDiv .titleFilter .calenderDiv #reportrange2{transition: all .35s ease 0s; width: 100%;}
.healthGraph .insuGraphInner .titleDiv .titleFilter .calenderDiv #reportrange2:hover{-webkit-box-shadow: 0px 0px 8px 0px rgba(191,191,191,0.6);-moz-box-shadow: 0px 0px 8px 0px rgba(191,191,191,0.6); box-shadow: 0px 0px 8px 0px rgba(191,191,191,0.6);}

.healthGraph .insuGraphInner .titleDiv .titleFilter .calenderDiv #reportrange2 img { width: 13px; display: inline-block; vertical-align: middle; margin: 0 0 0 10px;}
.healthGraph .insuGraphInner .titleDiv .titleFilter .export{ width: 35%;}
.healthGraph .insuGraphInner .titleDiv .titleFilter .export a{ width: 100%; float: left; text-decoration: none; background-color: #2d75ff; padding: 6.5px 10px; border-radius: 3px; font-size: 10px; color: #eef1f4; letter-spacing: 0.5px; margin: 0 0 0 0; transition: all .35s ease 0s; text-align: center;}
.healthGraph .insuGraphInner .titleDiv .titleFilter .export a svg{ width: 16px; height: 16px; display: inline-block;  vertical-align: middle; margin: 0 0 0 10px;}
.healthGraph .insuGraphInner .titleDiv .titleFilter .export a svg path{ fill: #fff;}
.healthGraph .insuGraphInner .titleDiv .titleFilter .export a img{ display: inline-block; vertical-align: middle; margin: 0 0 0 5px;}
.healthGraph .insuGraphInner .titleDiv .titleFilter .export a:hover{ opacity: 0.8;}

.insuGraphDiv{ display: flex; align-items: flex-start; justify-content: space-between;}
.insuGraphDiv .graph1{ width: calc(65% - 20px); height: 290px; margin: 0 20px 0 0; position: relative;}
.insuGraphDiv .graph1 .legends{ position: absolute; left: 0; top: -20px; text-align: right; padding: 0 20px 0 0;}
.insuGraphDiv .graph1 .legends span{ position: relative; display: inline-block; vertical-align: middle; line-height: 1.1; margin: 0 0 0 15px; padding: 0 0 0 15px; color: #67758d; font-size: 14px; letter-spacing: normal;}
.insuGraphDiv .graph1 .legends span:before{ content: ""; width: 10px; height: 10px; position: absolute; left: 0; top: 0; border-radius: 50%; background-color: transparent; border: 1px solid #3794fc;}
.insuGraphDiv .graph1 .legends span:last-child:before{ border-color: #9d60fb;}
.insuGraphDiv .graph2{ width: 35%; border-radius: 4px; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); background-color: #ffffff; padding: 10px;}
.insuGraphDiv .graph2 .graph2Inner{height: 260px; }
.graph2Title{ width: 100%; float: left; display: flex; align-items: center; justify-content: space-between; margin-bottom: 25px;}
.graph2Title h3{ font-size: 13px; color: #485465;}
.graph2Title a{ font-size: 12px; transition: all .35s ease 0s;  color: #2d75ff; text-decoration: underline;}
.graph2Title a:hover{ opacity: 0.7;}

.searchWrap{ padding-bottom: 40px; border-bottom: solid 1px #9eb0c2;}
.searchWrap .searchInner{ width: 100%; max-width: 650px; display: inline-block; text-align: center;}
.searchWrap .searchInner h1{ width: 100%; float: left; color: #37435a; font-size: 32px; font-family: 'Graphik-Semibold'; margin-bottom: 25px;}
.searchWrap .searchInner .searchFrm{ overflow: hidden; border-radius: 6px; border: solid 1px #7f8899; background-color: #fff; display: flex; align-items: center; justify-content: center; position: relative; transition: all .35s ease 0s;}
.searchWrap .searchInner .searchFrm .psearch{width: 30%; float: left; position: relative; text-align: left;}

.searchWrap .searchInner .searchFrm select{ width: 100%; float: left;}
.textfield{width: 70%; float: left;}
.searchWrap .searchInner .searchFrm input.text{ width: 100%; float: left; border: none; padding: 10px; color: #7f8899; font-size: 14px; font-family: 'Graphik-Regular'; border-left: solid 1px #7f8899; border-radius: 0px;}
.searchWrap .searchInner .searchFrm .button{ width: 19px; height: 19px; padding: 0; margin: 0; background: none; border: none; position: absolute; top: 50%; right: 10px; transform: translateY(-50%); outline: none; cursor: pointer;}

.searchWrap .searchInner .searchFrm:hover{ border-color: #2d75ff;}
.searchWrap .searchInner .searchFrm:hover select{border-color: #2d75ff; }

.moreSearch{ margin: 25px 0; display: inline-block;}
.moreSearch a{width: 100%; float: left; display: flex; align-items: center; justify-content: center;}
.moreSearch a svg{ width: 24px;}
.moreSearch a svg path{ fill: #9eb0c2;transition: all .35s ease 0s; }
.moreSearch a span{transition: all .35s ease 0s;  margin: 0 0 0 15px; font-size: 14px; font-family: 'Graphik-Medium'; color: #9eb0c2;}

.moreSearch a:hover span{ color: #37435a;}
.moreSearch a:hover svg path{ fill: #37435a;}

.searchSubmit .searchBtn{ transition: all .35s ease 0s; border: none; border-radius: 3px; border: solid 1px #2d75ff; background-color: #2d75ff; color: #f7fafc; font-size: 14px; padding: 9px 0; width: 175px; font-family: 'Graphik-Regular'; cursor: pointer;}
.searchSubmit .searchBtn:hover{ opacity: 0.8;}

.recentDocWrap{ padding: 40px 75px; text-align: left;}
.recentDocWrap h1{font-family: 'Graphik-Light'; font-size: 24px; color: #37435a; width: 100%; float: left; line-height: 1.1; margin-bottom: 5px;}
.recentDocWrap span{font-family: 'Graphik-Medium'; font-weight: normal; font-size: 12px; color: #7f8899; width: 100%; float: left; line-height: 1.1; margin-bottom: 0;}

table.recentDoc{border-collapse:separate; border-spacing:0 9px; background: none; border: none; box-shadow: none; margin-top: 25px;}
table.recentDoc th{font-family: 'Graphik-Medium'; font-size: 12px; font-weight: normal; color: #9eb0c2; padding: 9px 0 3px; text-transform: uppercase;}
table.recentDoc tr{ border: 1px solid #000;}
table.recentDoc tr td{font-family: 'Graphik-Regular'; font-weight: normal; font-size: 14px; color: #37435a; padding: 12px 0; background-color: #fff; border-top: solid 1px #e4e7ec; border-bottom: solid 1px #e4e7ec;}
table.recentDoc tr td:first-child{border-left: solid 1px #e4e7ec;}
table.recentDoc tr td:last-child{border-right: solid 1px #e4e7ec;}

table.recentDoc tr:hover td{ border-color: #2d75ff;}

table.recentDoc tr td .iconBx{ display: inline-block; vertical-align: middle; width: 50px; margin: 0 30px 0 10px;}
table.recentDoc tr td .fileName{ display: inline-block; vertical-align: middle; width: calc(100% - 115px);}
table.recentDoc tr td .fileName h3{ width: 100%; float: left; font-size: 14px; font-weight: normal;  font-family: 'Graphik-Regular'; margin-bottom: 4px;}
table.recentDoc tr td .fileName span{ width: 100%; float: left; font-size: 12px; font-weight: normal;  color: #37435a; text-transform: uppercase; opacity: 0.5; margin-bottom: 0;  font-family: 'Graphik-Regular';}
table.recentDoc tr td .action{width: 100%; float: left; text-align: right; padding: 0 20px 0 0;}
table.recentDoc tr td .action a{ display: inline-block; vertical-align: middle; margin: 0 10px; width: 20px; transition: all .35s ease 0s;}
table.recentDoc tr td .action a:hover{ opacity: 0.5;}
table.recentDoc tr td .action a svg path{ fill: #7f8899;}

table.recentDoc.contactDoc{ border-spacing: 0px; margin-top: 15px;}
table.recentDoc.contactDoc tr td{ background:none; border-top: none; border-bottom: none; padding: 6px 0;}
table.recentDoc.contactDoc tr td:first-child { border-left: none;}
table.recentDoc.contactDoc tr td:last-child {border-right: none}
table.recentDoc.contactDoc tr td .tdBx{ background:#fff; border-top: solid 1px #e4e7ec; border-bottom: solid 1px #e4e7ec; height: 90px; display: flex; align-items: center;}
table.recentDoc.contactDoc tr td:first-child .tdBx{ border-left: solid 1px #e4e7ec;}
table.recentDoc.contactDoc tr td:last-child .tdBx{border-right: solid 1px #e4e7ec;}

table.recentDoc.contactDoc tr:hover td .tdBx{ border-color: #2d75ff;}

table.recentDoc.contactDoc tr.p td{ background-color: #fff; padding: 35px 90px;}

table.recentDoc.contactDoc tr.p td .tdCnt{ display: flex; align-items: flex-start; justify-content: space-between;}
table.recentDoc.contactDoc tr td{ font-size: 16px;}
table.recentDoc.contactDoc tr td .fileName h3{ font-size: 16px;}
.leftCnt{ width: calc(50% - 80px); display: flex; align-items: flex-start; justify-content: center;}
.leftCnt .box{ width: 50%; margin: 0;}
.leftCnt .box .labelTitle{color: rgba(55, 67, 90, 0.53); font-size: 16px; width: 100%; float: left; font-family: 'Graphik-Medium'; margin-bottom: 10px;}
.leftCnt .box p{color: #37435a; font-size: 16px; line-height: 1.5; width: 100%; float: left; font-family: 'Graphik-Regular'; margin-bottom: 0;}

.rightCnt{ width: 50%;}
.rightCnt .box{ width: 100%; float: left; margin-bottom: 25px; display: flex; align-items: center; justify-content: flex-start;}
.rightCnt .box span{color: rgba(55, 67, 90, 0.53); font-size: 16px; font-family: 'Graphik-Medium'; margin: 0 20px 0 0; width: 100px;}
.rightCnt .box p{color: #37435a; font-size: 16px; font-family: 'Graphik-Regular'; margin: 0 0 0 20px;}

table.recentDoc.contactDoc tr.active td{ padding-bottom: 0;}
table.recentDoc.contactDoc tr.active td .tdBx{background-color: rgba(158, 176, 194, 0.16); border-bottom: none; border-top: solid 1px #2d75ff;}
table.recentDoc.contactDoc tr.active td:first-child .tdBx, table.recentDoc.contactDoc tr.active td:last-child .tdBx{ border-color: #2d75ff;}
table.recentDoc.contactDoc tr.p td{ border: solid 1px #2d75ff; border-top: none;}

table.recentDoc.contactDoc tr.p{ display: none;}

table.recentDoc.contactDoc tr td .action img{ width: auto;}
table.recentDoc.contactDoc tr td .action{ padding: 0 20px 0 0;}
table.recentDoc.contactDoc tr td .action a{ margin: 0 10px;}


table.recentDoc.contactDoc tr td .iconBx span{ width: 50px; height: 50px; border-radius: 50%; line-height: 50px; text-align: center; background: #b4d3b0; font-size: 20px; font-family: 'Graphik-Semibold'; color: #fff;}
table.recentDoc.contactDoc tr td .iconBx span.blue{background-color: #b9dcdc;}
table.recentDoc.contactDoc tr td .iconBx span.orange{background-color: #f6d8a4;}
table.recentDoc.contactDoc tr td .iconBx span.red{background-color: #f5b298;}
table.recentDoc.contactDoc tr td .iconBx span.pink{background-color: #f5acc8;}


.folderWrap{ overflow: hidden;}

.folderTitle{ margin-bottom: 25px;}
.folderTitle h1{ width: 100%; float: left; color: #37435a; font-size: 32px; font-family: 'Graphik-Semibold'; line-height: 1.1; margin-bottom: 7px;}
.folderTitle span{ width: 100%; float: left; color: #37435a; font-size: 19px; font-family: 'Graphik-Regular'; opacity: 0.50;}

.folderSearch{ max-width: 520px; margin-bottom: 10px; display: flex; align-items: center; justify-content: flex-start;}
.folderSearch .textfield{ width: calc(70% - 23px); margin: 0 20px 0 0; float: left; position: relative;}
.folderSearch .textfield input{ border-radius: 6px; border: solid 1px #7f8899; background-color: rgba(255, 255, 255, 0.69); width: 100%; float: left; padding: 10px; color: #7f8899; font-size: 14px;  font-family: "Graphik-Regular"; letter-spacing: 0.3px; line-height: 1.3; }
.folderSearch .textfield input:focus{ border-color: #2d75ff;}
.folderSearch .textfield .button { width: 19px; height: 19px; padding: 0; margin: 0; background: none; border: none; position: absolute; top: 50%; right: 10px; transform: translateY(-50%);  outline: none; cursor: pointer;}
.folderSearch a.addNewBtn{transition: all .35s ease 0s; border-radius: 3px; border: solid 1px #2d75ff; padding: 0; height: 40px; line-height: 40px; width: 30%; max-width: 125px; float: left; margin: 0; text-align: center; color: #2d75ff; font-size: 14px; font-family: 'Graphik-Medium';}
.folderSearch a.addNewBtn:hover{ color: #fff; background: #2d75ff;}

.folderList ul{ width: 100%; float: left; display: flex; align-items: flex-start; justify-content: space-between; flex-flow: row wrap;}
.folderList ul li{ width: calc(16.6% - 20px); text-align: center;}
.folderList ul li .box{transition: all .35s ease 0s; width: 100%; float: left;  margin: 10px 0 5px; border-radius: 3px; border: solid 1px #e4e7ec; background-color: #ffffff; padding: 20px; cursor: pointer;}
.folderList ul li .iconBx{ width: 100%; float: left; margin-bottom: 5px;}
.folderList ul li .iconBx img{ max-width: 100%;}
.folderList ul li h2{ width: 100%; float: left; font-size: 18px; color: #37435a; line-height: 1.1; margin-bottom: 7px;}
.folderList ul li span{ width: 100%; float: left; font-size: 14px; color: #7f8899; line-height: 1.1; font-family: 'Graphik-Medium';}
.folderList ul li:hover .box, .folderList ul li.open .box{border-color: #2d75ff;}

.folderList ul li .details{ height: 0;  float: left; width: calc(600% + 150px + 130px); box-shadow: inset 6px 1px 10px 9px rgba(0, 0, 0, 0.02); background-color: #eef3f6; color: #fff; overflow: hidden; margin-left:calc((0 * (100% + 50px)) - 75px);}

.folderList ul li:nth-child(6n+2) .details{margin-left:calc((-1 * (100% + 25px)) - 75px);}
.folderList ul li:nth-child(6n+3) .details{margin-left:calc((-2 * (100% + 25px)) - 75px);}
.folderList ul li:nth-child(6n+4) .details{margin-left:calc((-3 * (100% + 25px)) - 75px);}
.folderList ul li:nth-child(6n+5) .details{margin-left:calc((-4 * (100% + 25px)) - 75px);}
.folderList ul li:nth-child(6n+6) .details{margin-left:calc((-5 * (100% + 25px)) - 75px);}

.topArrow{ width: 45px; display: inline-block; vertical-align: middle; opacity: 0;  transition: all .35s ease 0s;}
.topArrow img{ max-width: 100%;}

.folderList ul li.open .details{margin-top: 0; margin-bottom: 10px; padding: 40px 75px; position: relative; text-align: left; height: auto;}
.folderList ul li.open .topArrow{ opacity: 1;}


.transition{-webkit-transition: filter 0.2s ease 0s, opacity 0.3s ease 0s, height 0.3s ease 0s, padding-top 0.3s ease 0s, padding-bottom 0.3s ease 0s, background 0.3s ease 0s, top 0.2s ease 0s, right 0.2s ease 0s;
  -webkit-transition: opacity 0.3s ease 0s, height 0.3s ease 0s, padding-top 0.3s ease 0s, padding-bottom 0.3s ease 0s, background 0.3s ease 0s, top 0.2s ease 0s, right 0.2s ease 0s, -webkit-filter 0.2s ease 0s;
  transition: color 0.3s ease 0s, opacity 0.3s ease 0s, height 0.3s ease 0s, padding-top 0.3s ease 0s, padding-bottom 0.3s ease 0s, background 0.3s ease 0s, top 0.2s ease 0s, right 0.2s ease 0s, -webkit-filter 0.2s ease 0s;
  -webkit-transition: color 0.3s ease 0s, opacity 0.3s ease 0s, height 0.3s ease 0s, padding-top 0.3s ease 0s, padding-bottom 0.3s ease 0s, background 0.3s ease 0s, top 0.2s ease 0s, right 0.2s ease 0s, -webkit-filter 0.2s ease 0s;
  transition: filter 0.2s ease 0s, color 0.3s ease 0s, opacity 0.3s ease 0s, height 0.3s ease 0s, padding-top 0.3s ease 0s, padding-bottom 0.3s ease 0s, background 0.3s ease 0s, top 0.2s ease 0s, right 0.2s ease 0s;
  transition: filter 0.2s ease 0s, color 0.3s ease 0s, opacity 0.3s ease 0s, height 0.3s ease 0s, padding-top 0.3s ease 0s, padding-bottom 0.3s ease 0s, background 0.3s ease 0s, top 0.2s ease 0s, right 0.2s ease 0s, -webkit-filter 0.2s ease 0s;}

.folderList ul li .details .subTitle{ margin-bottom: 20px;}
.folderList ul li .details .subTitle h2{ width: 100%; float: left; color: #37435a; font-size: 24px; font-family: 'Graphik-Light'; position: relative;}
.folderList ul li .details .subTitle h2:after{ position: absolute; left: -8px; top: 2px;content: url(../images/ico-back.svg); width: 20px; height: 20px; transform: translateX(-100%); cursor: pointer;}
.folderList ul li .details .subTitle span{ width: 100%; float: left; color: #7f8899; font-weight: normal; font-size: 12px; font-family: 'Graphik-Medium';}
.folderList ul li .details ul{ width: 100%; float: left; display: flex; align-items: center; justify-content: space-between; flex-flow: row wrap;}
.folderList ul li .details ul li{border-radius: 2px; border: solid 1px #e4e7ec; background-color: #ffffff; width: calc(20% - 20px); padding: 10px 15px; margin: 10px 0; transition: all .35s ease 0s;}
.folderList ul li .details ul li a{ width: 100%; float: left;}
.folderList ul li .details ul li:hover{ border-color: #2d75ff;}
.folderList ul li .details ul li .imgBx{ width: calc(30% - 13px); display: inline-block; vertical-align: middle; margin: 0 10px 0 0;}
.folderList ul li .details ul li .imgBx img{ width: 100%;}
.folderList ul li .details ul li .txt{width: calc(70% - 3px); display: inline-block; vertical-align: middle; text-align: left;}
.folderList ul li .details ul li .txt h3{ width: 100%; float: left; color: #37435a; font-size: 14px; line-height: 1.1; font-weight: normal; margin-bottom: 4px;}
.folderList ul li .details ul li .txt span{width: 100%; float: left; font-size: 12px; color: #37435a; opacity: 0.5;}

.folderList ul li .details ul li .txt .actionIco{ margin: 10px 0 0; display: flex; align-items: center; justify-content: flex-start;}
.folderList ul li .details ul li .txt .actionIco a{ width: 20px; margin: 0 15px 0 0;}
.folderList ul li .details ul li .txt .actionIco a:last-child{ width: 17px;}
.folderList ul li .details ul li .txt .actionIco a svg{ width: 100%; height: auto;}
.folderList ul li .details ul li .txt .actionIco a svg path{ fill: #37435a; transition: all .35s ease 0s;}
.folderList ul li .details ul li .txt .actionIco a:hover svg path{ fill: #2d75ff; transition: all .35s ease 0s;}


svg#folderSvg { display: inline-block; -webkit-transition: .4s ease; transition: .4s ease;}
/* Use the colors to transition to */
.menuWrapper ul li a svg#folderSvg:hover stop:first-child, .menuWrapper ul li a.active svg#folderSvg stop:first-child{ stop-color: #2d75ff;}
.menuWrapper ul li a svg#folderSvg:hover stop:last-child, .menuWrapper ul li a.active svg#folderSvg stop:last-child{ stop-color: #2d75ff;}
.menuWrapper ul li a svg#folderSvg:hover path#bLine, .menuWrapper ul li a.active svg#folderSvg path#bLine{ fill: #2d75ff;}
.menuWrapper ul li a svg#folderSvg:hover path#bLine2, .menuWrapper ul li a.active svg#folderSvg path#bLine2{ fill: #80a6f0;}

.profileHead{ background: #fff; padding: 45px 7% 45px 15%; display: flex; align-items: center; justify-content: space-between; border-bottom: 2px solid #eef1f4;}
.profileHead .title{ text-align: left;}
.profileHead .title h1{ width: 100%; float: left; color: #37435a; font-size: 32px; font-family: "Graphik-Semibold"; font-weight: normal; line-height: 1.1; margin-bottom: 15px;}
.profileHead .title a.button { transition: all .35s ease 0s; border-radius: 3px; border: solid 1px #2d75ff; padding: 10px 0; width: 50%; max-width: 125px; display: inline-block; vertical-align: middle;
  text-align: center; color: #2d75ff; font-size: 14px; font-family: 'Graphik-Medium';}
.profileHead .title a.button:hover { color: #fff; background: #2d75ff;}
.profileHead .agentClose{ width: 60px; text-align: center;}
.profileHead .agentClose a{ display: block; width: 100%; float: left;}
.profileHead .agentClose img{ max-width: 100%; margin-bottom: 5px;  transition: all .35s ease 0s;}
.profileHead .agentClose span{ width: 100%; float: left; font-size: 14px; color: #9eb0c2; font-family: 'Graphik-Medium';  transition: all .35s ease 0s;}
.profileHead .agentClose a:hover img{ opacity: 0.7;}
.profileHead .agentClose a:hover span{ color: #000;}

.profileCnt{ text-align: center; padding: 50px 0;}
.profileWrap{ width: 100%; max-width: 670px; display: inline-block; text-align: left;}
.profileWrap h2{ width: 100%; float: left; color: #37435a; font-size: 34px; font-family: "Graphik-Light"; margin-bottom: 25px;}
.profileWrap ul{ width: 100%; float: left; margin-bottom: 75px;}
.profileWrap ul li{ width: 100%; float: left; margin: 8px 0; display: flex; align-items: flex-start; justify-content: space-between;}
.profileWrap ul li label{ width: 25%; color: #7f8899; font-size: 16px; font-family: 'Graphik-Medium'; margin: 8px 0 0;}
.profileWrap ul li .fieldDiv{ width: 75%; display: flex; align-items: center; justify-content: space-between;}
.profileWrap ul li .fieldDiv .text{-webkit-appearance: none;  width: 100%; float: left; border-radius: 3px; border: solid 1px #e4e7ec; background-color: #ffffff; padding: 10px 15px; color: #37435a; font-size: 16px; line-height: 1.3; font-family: 'Graphik-Regular'; outline: none;}
.profileWrap ul li .fieldDiv .selectWrap{ width: 100%; float: left; position: relative;}
.profileWrap ul li .fieldDiv .selectWrap select{ -webkit-appearance: none; outline: none; width: 100%; float: left; border-radius: 3px; border: solid 1px #e4e7ec; background-color: #ffffff; padding: 10px 15px; color: #37435a; font-size: 16px; line-height: 1.3;}

.profileWrap ul li .fieldDiv .text:focus, .profileWrap ul li .fieldDiv .select2-container--default .select2-selection--single:hover{ -webkit-box-shadow: 0px 0px 4px 0px rgba(45,119,255,1); -moz-box-shadow: 0px 0px 4px 0px rgba(45,119,255,1); box-shadow: 0px 0px 4px 0px rgba(45,119,255,1);}

.profileWrap ul li .fieldDiv input:disabled.text{opacity: 0.57;}

.profileWrap ul li .fieldDiv .fieldSub{ display: flex; align-items: center; justify-content: space-between; width: 55%;}
.profileWrap ul li .fieldDiv .fieldSub1{ width: calc(40% - 20px); position: relative;}
.profileWrap ul li .fieldDiv .fieldSub label{ width: calc(70% - 40px);}
.profileWrap ul li .fieldDiv .fieldSub1 img{ position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;}

.formBtn{ text-align: center;}
.formBtn .subButton{width: 100%; -webkit-appearance: none; max-width: 220px; display: inline-block; background-color: #2d75ff; padding: 10px; border-radius: 3px; font-size: 10px; color: #eef1f4; letter-spacing: 0.5px; margin: 0 0 0 0; text-align: center; transition: all .35s ease 0s; border: none; font-size: 14px; cursor: pointer;}
.formBtn .subButton:hover{ opacity: 0.8;}

.profileWrap ul li .fieldDiv ::-webkit-input-placeholder { /* Edge */
  font-style: italic;
}

.profileWrap ul li .fieldDiv :-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-style: italic;
}

.profileWrap ul li .fieldDiv ::placeholder {
  font-style: italic;
}

input[type='text']::-webkit-input-placeholder {
  vertical-align: middle;
  display: inline-block;
}

.select2-results__option{ text-align: left;}
.select2-container--default .select2-selection--single{border: solid 1px #e4e7ec; background-color: rgba(238, 241, 244, 0.15); transition: all .35s ease 0s;}
.select2-dropdown{ border-color: #e4e7ec;}
.select2-container, .select2-container *{ outline: none;}
.select2-container--default .select2-selection--single .select2-selection__rendered{ font-size: 12px; color: #7f8899;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{border-width: 7px 6px 0 6px; margin-left: -9px; margin-top: -3px;}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{border-width: 0 6px 7px 6px;}

.select2-container--default .select2-selection--single:hover{box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.2);}

.searchWrap .searchInner .searchFrm .psearch .select2-container--default .select2-selection--single{border: none;  background-color: transparent; border-radius: 0; height: 35px; margin: 0; padding: 0; line-height: 35px;}
.searchWrap .searchInner .searchFrm .psearch .select2-container--default .select2-selection--single:hover{ box-shadow: none;}
.searchWrap .searchInner .searchFrm .psearch .select2-container--default .select2-selection--single .select2-selection__rendered{ line-height: 37px; font-size: 14px; color: #37435a;}
.searchWrap .searchInner .searchFrm .psearch .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 33px;}

table.recentDoc.contactDoc tr td .action a svg.edit path { fill: #64c879;}
table.recentDoc.contactDoc tr td .action a.tropen svg{ transition: all .35s ease 0s; }
table.recentDoc.contactDoc tr.active td .action a.tropen svg{ transform: rotate(180deg); }
table.recentDoc.contactDoc tr.active td .action a.tropen svg path{ fill: #2d75ff;}


.profileWrap ul li .fieldDiv .select2-container--default .select2-selection--single{background-color: #fff; border-color: #e4e7ec; height: 40px; margin: 0; padding: 0; line-height: 40px;}
.profileWrap ul li .fieldDiv .select2-container--default .select2-selection--single .select2-selection__rendered{ line-height: 40px; font-size: 16px; color: #37435a;}
.profileWrap ul li .fieldDiv .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 40px;}

.flatpickr-current-month .flatpickr-monthDropdown-months:hover { background: none;}

.select2-container{ z-index: 99999;}
.flatpickr-months .flatpickr-month{ height: 40px;}
.flatpickr-current-month{ height: 40px;}
.flatpickr-current-month .select2-container{ width: 120px !important; text-align: left;}

.mfp-wrap{ z-index: 999999;}
.mfp-bg{ opacity: 0.21;}
.newsLetterPop{ background: #fff; width: 90%; max-width: 580px; display: inline-block; padding: 15px 40px 30px; position: relative;}
.newsLetterPop .popInner{ width: 100%; float: left;}
.newsLetterPop .popInner .imgBx{ width: 100%; float: left; margin: 40px 0;}
.newsLetterPop .popInner .imgBx img{ max-width: 200px; padding-bottom: 25px;}
.newsLetterPop .popInner .imgBx h1{ width: 100%; float: left; margin: 0; padding: 0; font-size: 32px; font-family: "Graphik-Semibold"; color: #37435a;}
.newsLetterPop .popInner ul{ width: 100%; float: left;}
.newsLetterPop .popInner ul li{ width: 100%; float: left; margin-bottom: 20px; text-align: center;}
.newsLetterPop .popInner ul li label{ text-align: left; width: 100%; float: left; margin-bottom: 10px; font-size: 16px; color: #7f8899; font-family: "Graphik-Medium"; line-height: 1.31;}
.newsLetterPop .popInner ul li input.text{ text-align: left; width: 100%; float: left; border: solid 1px #9eb0c2; background-color: #ffffff; border-radius: 3px; -webkit-appearance: none; padding: 10px; color: #9eb0c2; font-size: 16px;  font-family: "Graphik-Regular";}
.newsLetterPop .popInner ul li input.text:focus{ -webkit-box-shadow: 0px 0px 4px 0px rgba(45,119,255,1); -moz-box-shadow: 0px 0px 4px 0px rgba(45,119,255,1); box-shadow: 0px 0px 4px 0px rgba(45,119,255,1);}
.newsLetterPop .popInner ul li input.text::placeholder { font-style: italic;}
.newsLetterPop .popInner ul li .submitBtn{ transition: all .35s ease 0s; border: none; border-radius: 3px; border: solid 1px #2d75ff; background-color: #2d75ff; color: #f7fafc; font-size: 14px; padding: 9px 0; width: 175px; font-family: 'Graphik-Regular'; cursor: pointer; margin-top: 22px; -webkit-appearance: none;}
.newsLetterPop .popInner ul li .submitBtn:hover { opacity: 0.8;}

.thankPop{ background: #fff; width: 90%; max-width: 580px; display: inline-block; padding: 15px 40px; position: relative;}
.thankPop .popInner{ width: 100%; float: left; height: 610px; display: flex; align-items: center; justify-content: center; text-align: center;}
.thankPop .popInner img{ max-width: 200px; margin-bottom: 0;}
.thankPop .popInner h1{ width: 100%; float: left; margin: 0; padding: 0; font-size: 32px; font-family: "Graphik-Semibold"; color: #37435a;}
.thankPop .popInner a{ transition: all .35s ease 0s; border: none; border-radius: 3px; border: solid 1px #2d75ff; background-color: #2d75ff; color: #f7fafc; font-size: 14px; padding: 9px 0; width: 175px; font-family: 'Graphik-Regular'; cursor: pointer; margin-top: 40px; display: inline-block;}

.select2-container{ z-index: 99;}




.documentList{ margin-top: 30px;}
.documentList ul{ width: 100%; float: left; display: flex; align-items: flex-start; justify-content: space-between; flex-flow: row wrap;}
.documentList ul li{ width: calc(33.3% - 20px); text-align: center;}
.documentList ul li .box{transition: all .35s ease 0s; width: 100%; float: left;  margin: 10px 0 5px; border-radius: 3px; border: solid 1px #e4e7ec; background-color: #ffffff; padding: 20px 20px 20px 5px; cursor: pointer;}
.documentList ul li .iconBx{ width: 70px; margin: 0; display: inline-block; vertical-align: middle;}
.documentList ul li .iconBx img{ max-width: 100%;}
.documentList ul li .docCnt{ width: calc(100% - 104px); margin: 0 0 0 30px; text-align: left; display: inline-block; vertical-align: middle;}
.documentList ul li h2{ width: 100%; float: left; font-size: 18px; color: #37435a; line-height: 1.1; margin-bottom: 3px;}
.documentList ul li p{ width: 100%; float: left; font-size: 14px; color: #37435a; line-height: 1.1; margin-bottom: 7px;}
.documentList ul li span{ width: 100%; float: left; font-size: 14px; color: #7f8899; line-height: 1.1; font-family: 'Graphik-Medium';}
.documentList ul li:hover .box, .folderList ul li.open .box{border-color: #2d75ff;}
.documentList ul li .details{ height: 0;  float: left; width: calc(300% + 150px + 62px); box-shadow: inset 6px 1px 10px 9px rgba(0, 0, 0, 0.02); background-color: #eef3f6; color: #fff; overflow: hidden; margin-left:calc((0 * (100% + 50px)) - 75px);}
.documentList ul li:nth-child(3n+2) .details{margin-left:calc((-1 * (100% + 46px)) - 60px);}
.documentList ul li:nth-child(3n+3) .details{margin-left:calc((-2 * (100% + 39px)) - 60px);}

.documentList ul li.open .details{margin-top: 0; margin-bottom: 10px; padding: 40px 75px 40px 40px; position: relative; text-align: left; height: auto;}
.documentList ul li.open .topArrow{ opacity: 1;}
.documentList ul li .details .subTitle{ margin-bottom: 20px;}
.documentList ul li .details .subTitle h2{ width: 100%; float: left; font-family: 'Graphik-Light'; font-size: 23px; color: #37435a; line-height: 1.1; margin-bottom: 3px; position: relative;}
.documentList ul li .details .subTitle h2:after{ position: absolute; left: -8px; top: 2px;content: url(../images/ico-back.svg); width: 20px; height: 20px; transform: translateX(-100%); cursor: pointer;}
.documentList ul li .details .subTitle p{ width: 100%; float: left; font-size: 14px; color: #37435a; line-height: 1.1; margin-bottom: 7px;}
.documentList ul li .details .subTitle span{ width: 100%; float: left; font-size: 14px; color: #7f8899; line-height: 1.1; font-family: 'Graphik-Medium';}
.documentList ul li .details ul{ width: 100%; float: left; display: flex; align-items: center; justify-content: space-between; flex-flow: row wrap;}
.documentList ul li .details ul li{border-radius: 2px; border: solid 1px #e4e7ec; background-color: #ffffff; width: calc(20% - 20px); padding: 10px 15px; margin: 10px 0; transition: all .35s ease 0s;}
.documentList ul li .details ul li a{ width: 100%; float: left;}
.documentList ul li .details ul li:hover{ border-color: #2d75ff;}
.documentList ul li .details ul li .imgBx{ width: calc(30% - 13px); display: inline-block; vertical-align: middle; margin: 0 10px 0 0;}
.documentList ul li .details ul li .imgBx img{ width: 100%;}
.documentList ul li .details ul li .txt{width: calc(70% - 3px); display: inline-block; vertical-align: middle; text-align: left;}
.documentList ul li .details ul li .txt h3{ width: 100%; float: left; color: #37435a; font-size: 14px; line-height: 1.1; font-weight: normal; margin-bottom: 4px;}
.documentList ul li .details ul li .txt span{width: 100%; float: left; font-size: 12px; color: #37435a; opacity: 0.5;}
.documentList ul li .details ul li .txt .actionIco{ margin: 10px 0 0; display: flex; align-items: center; justify-content: flex-start;}
.documentList ul li .details ul li .txt .actionIco a{ width: 20px; margin: 0 15px 0 0;}
.documentList ul li .details ul li .txt .actionIco a:last-child{ width: 17px;}
.documentList ul li .details ul li .txt .actionIco a svg{ width: 100%; height: auto;}
.documentList ul li .details ul li .txt .actionIco a svg path{ fill: #37435a; transition: all .35s ease 0s;}
.documentList ul li .details ul li .txt .actionIco a:hover svg path{ fill: #2d75ff; transition: all .35s ease 0s;}