<link href="../../css/init.css" rel="stylesheet">
<link href="../../css/style.css" rel="stylesheet">

<link href="header.css" rel="stylesheet">
    
<div class="header col-100 floatLft">
    <div class="logo"><a href="#"><img src="../../images/logo.png" alt=""></a></div>
    <div class="agencyLogo">
        <img src="../../images/insura.png" alt="">
        <span>Insura Agency Inc</span>
    </div>
    <div class="notificationPanel">
        <div class="notificationInner"><a href="#"><img src="../../images/ico-notification.svg" alt=""></a></div>
        <div class="userPanel">
            <a href="#">
                <div class="initial">JD</div>
                <div class="userName">
                    <h2>John</h2>
                    <span>Administrator</span>
                </div>
            </a>
        </div>
    </div>
</div>
