
.header{ width: 100%; height: 75px; float: left; position: fixed; top: 0; left: 0; border: solid 1px #e4e7ec; display: flex; align-items: center; justify-content: space-between; padding: 0 18px; background: #fff; z-index: 10;}
.header .logo{ width: 192px; }
.header .logo img{ width: 100%;}
.agencyLogo{ display: flex; align-items: center; justify-content: space-between;}
.agencyLogo{ font-size: 14px; color: #37435a;}

.notificationPanel{ display: flex; align-items: center; justify-content: center;}
.notificationPanel .notificationInner{ height: 75px; padding: 0 25px; display: flex; align-items: center; border-left: solid 1px #e4e7ec;}
.notificationPanel .userPanel{ height: 75px; display: flex; align-items: center; border-left: solid 1px #e4e7ec; padding: 0 17px; margin: 0 50px 0 0;}
.notificationPanel .userPanel a{ display: flex; align-items: center; justify-content: center;}
.notificationPanel .userPanel a .initial{ width: 35px; height: 35px; line-height: 35px; background-color: #eef1f4; border-radius: 50%; margin: 0 5px 0 0;}
.notificationPanel .userPanel a .userName{ text-align: left;}
.notificationPanel .userPanel a .userName h2{font-family: 'Graphik-Medium'; color: #37435a; font-size: 14px; position: relative;}
.notificationPanel .userPanel a .userName h2::after{content: ""; width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 7px solid #000; position: absolute; left: 100%; top: 2px;}
.notificationPanel .userPanel a .userName span{color: #9eb0c2; }