
<link href="../../css/init.css" rel="stylesheet">
<link href="../../css/style.css" rel="stylesheet">

<link href="navigation.css" rel="stylesheet">

    

<div class="menuWrapper">
    <ul>
        <li>
            <a href="#" class="active">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                    <g fill-rule="nonzero">
                        <path d="M9.635 0H1.823A1.825 1.825 0 0 0 0 1.823V6.51c0 1.006.818 1.823 1.823 1.823h7.812a1.825 1.825 0 0 0 1.823-1.823V1.823A1.825 1.825 0 0 0 9.635 0zM9.635 10.417H1.823A1.825 1.825 0 0 0 0 12.24v10.937C0 24.182.818 25 1.823 25h7.812a1.825 1.825 0 0 0 1.823-1.823V12.24a1.825 1.825 0 0 0-1.823-1.823zM23.177 16.667h-7.812a1.825 1.825 0 0 0-1.823 1.823v4.687c0 1.005.817 1.823 1.823 1.823h7.812A1.825 1.825 0 0 0 25 23.177V18.49a1.825 1.825 0 0 0-1.823-1.823zM23.177 0h-7.812a1.825 1.825 0 0 0-1.823 1.823V12.76c0 1.006.817 1.823 1.823 1.823h7.812A1.825 1.825 0 0 0 25 12.76V1.823A1.825 1.825 0 0 0 23.177 0z"/>
                    </g>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                    <g fill-rule="nonzero">
                        <path d="M3.71 11.719c.592 0 1.127-.237 1.522-.618L7.4 12.185c-.01.088-.027.175-.027.266a2.2 2.2 0 0 0 2.197 2.197 2.2 2.2 0 0 0 2.198-2.197 2.17 2.17 0 0 0-.22-.941l2.94-2.941c.287.137.604.22.942.22a2.2 2.2 0 0 0 2.197-2.197c0-.228-.045-.444-.11-.651l2.556-1.916c.348.233.766.37 1.216.37a2.2 2.2 0 0 0 2.197-2.198A2.2 2.2 0 0 0 21.29 0a2.2 2.2 0 0 0-2.197 2.197c0 .228.045.444.11.651l-2.556 1.916a2.182 2.182 0 0 0-1.216-.37 2.2 2.2 0 0 0-2.198 2.198c0 .338.084.655.22.941l-2.94 2.941a2.17 2.17 0 0 0-.942-.22c-.59 0-1.125.237-1.52.618L5.88 9.788c.011-.089.027-.175.027-.267a2.2 2.2 0 0 0-2.197-2.197 2.2 2.2 0 0 0-2.197 2.197A2.2 2.2 0 0 0 3.71 11.72z"/>
                        <path d="M24.268 23.535h-.782V8.057a.732.732 0 0 0-.732-.733h-2.93a.732.732 0 0 0-.732.733v15.478h-1.465V12.451a.732.732 0 0 0-.732-.732h-2.93a.732.732 0 0 0-.733.732v11.084h-1.464v-5.224a.732.732 0 0 0-.733-.733h-2.93a.732.732 0 0 0-.732.733v5.224H5.908v-8.154a.732.732 0 0 0-.732-.733h-2.93a.732.732 0 0 0-.732.733v8.154H.732a.732.732 0 1 0 0 1.465h23.536a.732.732 0 1 0 0-1.465z"/>
                    </g>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23">
                    <g fill-rule="nonzero">
                        <path d="M13.678 19.604v-1.706H0v1.712c0 1.551 1.252 2.833 2.802 2.833h12.255c-.118-.107-.231-.2-.338-.308a3.57 3.57 0 0 1-1.04-2.531zM9.788 9.12l1.997 1.391 2.004-1.39c.548-.38.984-1.236.984-1.91V4.339L11.79 2.84 8.807 4.334v2.878c0 .673.433 1.53.981 1.909zm.45-2.716a.372.372 0 0 1 .532.003l.6.614 1.442-1.464a.372.372 0 0 1 .533 0c.147.15.146.391 0 .54l-1.711 1.737a.375.375 0 0 1-.266.113.373.373 0 0 1-.267-.115l-.866-.887a.387.387 0 0 1 .003-.54zM23.032 0h-.012c-1.09 0-1.997.91-1.997 1.998v3.4H25V1.992A1.985 1.985 0 0 0 23.032 0z"/>
                        <path d="M5.706 0C4.658 0 3.805.843 3.805 1.876l-.112 15.226h10.398a.393.393 0 0 1 .378.395v2.081a2.857 2.857 0 0 0 2.835 2.865h.01a2.838 2.838 0 0 0 2.815-2.858V2.038c0-.794.357-1.499.894-2.038H5.706zm2.24 4.175a.367.367 0 0 1 .199-.34l3.38-1.661a.37.37 0 0 1 .329 0l3.385 1.666a.367.367 0 0 1 .2.34v3.078c0 .916-.559 1.996-1.315 2.512l-2.217 1.521a.373.373 0 0 1-.422 0L9.262 9.77c-.757-.517-1.317-1.597-1.317-2.512V4.175zm9.11 11.2H6.706a.377.377 0 0 1 0-.755h10.35a.377.377 0 0 1 0 .756zm0-1.995H6.706a.377.377 0 0 1 0-.756h10.35a.377.377 0 0 1 0 .756z"/>
                    </g>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" viewBox="0 0 30 25">
                    <g fill-rule="nonzero">
                        <path d="M17.91 4.287a5.393 5.393 0 0 1 2.509 4.006 4.33 4.33 0 0 0 1.84.412 4.352 4.352 0 1 0 0-8.705 4.352 4.352 0 0 0-4.35 4.287zm-2.852 8.912a4.353 4.353 0 1 0 0-8.706 4.353 4.353 0 0 0 0 8.706zm1.846.296h-3.693a5.58 5.58 0 0 0-5.573 5.574v4.516l.011.07.311.098c2.933.917 5.48 1.222 7.578 1.222 4.096 0 6.47-1.168 6.616-1.242l.29-.147h.032v-4.517a5.578 5.578 0 0 0-5.572-5.574zm7.201-4.493H20.44a5.364 5.364 0 0 1-1.655 3.736c2.731.812 4.73 3.345 4.73 6.337v1.392c3.618-.133 5.704-1.158 5.84-1.227l.292-.147h.03v-4.519a5.58 5.58 0 0 0-5.572-5.572zM7.42 8.706c.852 0 1.644-.249 2.315-.672a5.387 5.387 0 0 1 2.025-3.436c.004-.081.012-.162.012-.244A4.352 4.352 0 1 0 7.42 8.706zm3.91 4.032a5.367 5.367 0 0 1-1.655-3.715c-.136-.01-.27-.021-.41-.021H5.574A5.58 5.58 0 0 0 0 14.574v4.518l.011.07.312.098c2.352.734 4.452 1.073 6.276 1.18v-1.365c0-2.992 1.998-5.524 4.73-6.337z"/>
                    </g>
                </svg>                
            </a>
        </li>
        <li>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="29" viewBox="0 0 25 29">
                    <g fill-rule="nonzero">
                        <path d="M19.241.34v5.455h5.4z"/>
                        <path d="M18.094 6.954V0H.058v28.976h24.921V6.954h-6.885zM3.5 11.148h10.986v1.159H3.5v-1.16zm18.037 12.616H3.499v-1.159h18.037v1.16zm0-3.819H3.499v-1.159h18.037v1.16zm0-3.819H3.499v-1.159h18.037v1.16z"/>
                    </g>
                </svg>
            </a>
        </li>
    </ul>
</div>
