.menuWrapper{ width: 100px; height: calc(100vh - 75px); position: fixed; left: 0; top: 75px; border-right: solid 1px #e4e7ec;  background-color: #ffffff; padding: 30px 0;}
.menuWrapper ul{ width: 100%; float: left;}
.menuWrapper ul li{ width: 100%; float: left;}
.menuWrapper ul li a{width: 100%; float: left; display: flex; align-items: center; justify-content: center; padding: 35px 0;}
.menuWrapper ul li a svg g{ fill: #9eb0c2; transition: all .35s ease 0s;-moz-transition: all .35s ease 0s;-webkit-transition: all .35s ease 0s;}
.menuWrapper ul li a:hover svg g{ fill: #2d75ff;}
.menuWrapper ul li a.active{ background: rgba(45, 117, 255, 0.06); border-left: 2px solid #2d75ff;}
.menuWrapper ul li a.active svg g{ fill: #2d75ff;}